@import './main';


header {
    backdrop-filter: unset;
    background:unset;
} .mwave {
    display:none;
}

// 1920
@keyframes trianglebig1920 {
    0% {
        transform: translate(0,-10px);
    } 100% {
        transform: translate(0,0); 
    }
}

@keyframes trianglemedium1920 {
    0% {
        transform: translate(0,30px);
    } 100% {
        transform: translate(0,0); 
    }
}

@keyframes trianglesmall1920 {
    0% {
        transform: translate(0,-60px);
    } 100% {
        transform: translate(0,0); 
    }
}

// 1000 
@keyframes trianglebig1000 {
    0% {
        transform: translate(0,-5px);
    } 100% {
        transform: translate(0,0); 
    }
}

@keyframes trianglemedium1000 {
    0% {
        transform: translate(0,15px);
    } 100% {
        transform: translate(0,0); 
    }
}

@keyframes trianglesmall1000 {
    0% {
        transform: translate(0,-30px);
    } 100% {
        transform: translate(0,0); 
    }
}

.banner-hero {
    height: 500px; 
    background-image: linear-gradient(to bottom, #C23440, #A81925);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    p {
        text-align: center;
        width: 30%; 
        font-size: 23px; 
        color: #D99C9C; 
    } h1 {
        font-size: 60px; 
        color:white; 
    }

    .bottom,
    .left-triangle,
    .right-triangle {
        position:absolute; 
    }

    .bottom {
        left: 0;
        right: 0;
        bottom: -120px;

        svg {
            width: 100%;
        }
    }

    .left-triangle {
        left: 0;
        svg:nth-child(3) {
            width: 150px; 
            height: 150px; 
            transform: translate(0,-10px);
            animation: trianglebig1920 1s ease 0s infinite alternate;
        }  svg:nth-child(2) {
            width: 70px; 
            height: 70px; 
            position: absolute;
            right: -90px;
            bottom: 40px;
            transform: translate(0,30px);
            animation: trianglemedium1920 1s ease 1s infinite alternate;
        }  svg:nth-child(1) {
            width: 30px; 
            height: 30px; 
            position: absolute;
            right: -20px;
            bottom: -30px;
            transform: translate(0,-60px);
            animation: trianglesmall1920 1s ease 2s infinite alternate;
        } 
    }

    .right-triangle {
        right: 0;
        -moz-transform: scale(-1, -1);
        -o-transform: scale(-1, -1);
        -webkit-transform: scale(-1, -1);
        transform: scale(-1, -1);
        svg:nth-child(3) {
            width: 150px; 
            height: 150px;
            transform: translate(0,-10px);
            animation: trianglebig1920 1s ease 2s infinite alternate; 
        }  svg:nth-child(2) {
            width: 70px; 
            height: 70px; 
            position: absolute;
            right: -90px;
            bottom: 40px;
            transform: translate(0,30px);
            animation: trianglemedium1920 1s ease 1s infinite alternate;
        }  svg:nth-child(1) {
            width: 30px; 
            height: 30px; 
            position: absolute;
            right: -20px;
            bottom: -30px;
            transform: translate(0,-60px);
            animation: trianglesmall1920 1s ease 0s infinite alternate;
        } 
    }
}


// Description 2 layer box 
.descriptions {
    display:flex; 
    justify-content: space-between;
    .description {
        width: 60%; 
        border: 1px solid red;
        h2 {
            font-size: 40px; 
            color: $darkblue; 

        } .line {
            width: 90px; 
            height: 4px; 
            display:inline-block; 
            margin:auto; 
            background: $red1; 
        } p {
            margin-top: 30px;
            font-size: 18px; 
            line-height: 2; 
            text-align: justify;
        }
    } .images {
        border: 1px solid red;
        position:relative; 
        img {
            width: 500px; 
            height: 500px; 
            object-fit: cover;
        } img.img-float {
            width: 300px; 
            height: 300px; 
            position:absolute; 
            z-index: 9;
            left: 0;
            top: 18%;
        }

    }
}

@media screen and (max-width: 1570px) {
    .banner-hero {
        p {
            width: 40%; 
            
        }
    }
}

@media screen and (max-width: 1220px) {
    .banner-hero {
        p {
            width: 50%; 
            
        } .bottom {
            bottom: -80px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .banner-hero {
        .left-triangle {
            svg:nth-child(3) {
                width: 100px; 
                height: 100px; 
                transform: translate(0,-5px);
                animation: trianglebig1000 1s ease 0s infinite alternate;
            }
            svg:nth-child(2) {
                width: 40px; 
                height: 40px;
                right: -70px; 
                transform: translate(0,15px);
                animation: trianglemedium1000 1s ease 0s infinite alternate;
            }
            svg:nth-child(1) {
                width: 20px; 
                height: 20px; 
                transform: translate(0,-30px);
                animation: trianglesmall1000 1s ease 0s infinite alternate;
            }
        } .right-triangle {
            svg:nth-child(3) {
                width: 100px; 
                height: 100px; 
                transform: translate(0,-5px);
                animation: trianglebig1000 1s ease 0s infinite alternate;
            }
            svg:nth-child(2) {
                width: 40px; 
                height: 40px; 
                right: -70px;
                transform: translate(0,15px);
                animation: trianglemedium1000 1s ease 0s infinite alternate;
            }
            svg:nth-child(1) {
                width: 20px; 
                height: 20px; 
                transform: translate(0,-30px);
                animation: trianglesmall1000 1s ease 0s infinite alternate;
            }
        }
    }
}


@media screen and (max-width: 960px) {
    .banner-hero {
        p {
            width: 60%; 
            
        }
    }
}

@media screen and (max-width: 800px) {
    .banner-hero {
        p {
            width: 70%; 
            
        }
    }
}

@media screen and (max-width: 785px) {
    .mwave {
        display:block; 
        
        left:0; 
        right:0;
        top: -10px; 
        transform: translate(0,-10px)
    }
    .banner-hero {
        height: 370px;
        p {
            width: 50%;
            font-size: 16px;
        } h1 {
            font-size: 40px;
        } 
        .bottom {
            display:none;
        }
        
        .left-triangle {
            svg:nth-child(3) {
                width: 100px; 
                height: 100px; 
                transform: translate(0,-5px);
                animation: trianglebig1000 1s ease 0s infinite alternate;
            }
            svg:nth-child(2) {
                width: 40px; 
                height: 40px;
                right: -70px; 
                transform: translate(0,15px);
                animation: trianglemedium1000 1s ease 1s infinite alternate;
            }
            svg:nth-child(1) {
                width: 20px; 
                height: 20px; 
                transform: translate(0,-30px);
                animation: trianglesmall1000 1s ease 2s infinite alternate;
            }
        } .right-triangle {
            svg:nth-child(3) {
                width: 100px; 
                height: 100px; 
                transform: translate(0,-5px);
                animation: trianglebig1000 1s ease 2s infinite alternate;
            }
            svg:nth-child(2) {
                width: 40px; 
                height: 40px; 
                right: -70px;
                transform: translate(0,15px);
                animation: trianglemedium1000 1s ease 1s infinite alternate;
            }
            svg:nth-child(1) {
                width: 20px; 
                height: 20px; 
                transform: translate(0,-30px);
                animation: trianglesmall1000 1s ease 0s infinite alternate;
            }
        }

    }

    header {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(4px);
    }

}

@media screen and (max-width: 690px) {
    .banner-hero {
        .left-triangle,
        .right-triangle {
            svg:nth-child(3) {
                position:absolute; 
                right: -50px;
                width: 70px; 
                height: 70px; 
            } svg:nth-child(2) {
                width: 30px; 
                height: 30px; 
                right: -40px;
            } svg:nth-child(1) {
                width: 10px; 
                height: 10px; 
            }
        }
    }
}


@media screen and (max-width: 666px) {
    .banner-hero {
        p {
            width: 70%;
            font-size: 16px;
        } h1 {
            font-size: 40px;
        }
    }
}

@media screen and (max-width: 500px) {
    .banner-hero {
        p {
            width: 85%;
            font-size: 16px;
        } h1 {
            font-size: 40px;
        }
    }
}