@import './main';




.plan__container.section {
    padding: 100px 90px 50px; 
}



.business {
    padding: 0 100px; 
    display: flex;
    flex-direction:column;

    .boxs {
        display: flex;
        justify-content: space-between;
        align-items:center;
        gap: 45px;
        .box {
            height: 370px; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            .circle {
                background: $red3;
                width: 250px; 
                height: 250px;
                margin: auto;
                border-radius: 50%;
                position:relative;
                z-index: 99;
                display:flex; 
                gap: 20px; 
                align-item:center;
                
                svg {
                    width: 100px; 
                    height: 100px; 
                    transform:translate(0, 70%);

                }
            }

           
        }

        
        .box:first-child {
            position:relative;
            width: unset; 
            text-align:right;
        
        } .box:last-child {
            width: unset; 
            text-align:left;
            .detail {
                margin-bottom: 10px; 
                p {
                    display:inline-block;
                    padding: 0 25px;
                    background: $red3; 
                    color:white; 
                    border-radius:100px; 

                }
            }
            h2 {
                font-size: 30px; 
                // margin-bottom: -10px;
                color: $red3;
            } p {
                font-size: 16px;
                line-height: 2;
            } h5 {
                margin: 15px 0;
                font-size: 23px;
                color: $red1;  
            }
            
        } .box.list {
            text-align: left;
            align-items: flex-start;
            h2 {
                // text-align: center;
            } ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px; 
                li {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .number {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 30px; 
                        border-radius:5px;
                        background: $red3;
                        color:white; 
                        font-size: 22px;
                    }
                }
            }
        }
    } .boxs:nth-child(even) {
        flex-direction: row-reverse;

        .box {
            text-align: right;
            align-items: flex-end;
        }
        
    } .boxs:last-child  {
        .box {
            .circle::before {
                display:none;
            } 
            
            // align-items: flex-end;
            // ul {
            //     li {
            //         flex-direction: row-reverse;
            //     }
            // }
        }
    }
}

// @media screen and (max-width: 1700px) {
//     .business {
//         .boxs:nth-child(even) {
//             .box {
               
//             }
//         } .boxs {
//             .box {
              
//             }
//         }
//     } 
// }

footer.section  {
    margin-top: 100px; 
    .footer__container {
        padding-top: 45px; 
        margin-bottom: 34px;
    
    }
}
@media screen and (max-width: 1100px) {
    footer.section {
        margin-top: 60px;
    }

}
@media screen and (max-width: 785px) {
    footer.section  {
        margin-top: 55px; 
        .footer__container {
            padding-top: unset; 
            margin-bottom: 34px;
        
        }
    }

}

@media screen and (max-width: 550px) {
    footer.section {
        margin-top: 40px;
    }

}


.business {
    .boxs {
        .box.list {
            ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                li {
                    display: grid;
                    grid-template-columns: 25px 1fr;
                    gap: 20px;
                }
            }
        }
        .box {
            text-align:left;
            
            .circle {
                border: unset;
                
                width: 100%; 
                height: 255px; 
                border-radius: unset; 
                display:flex; 
                justify-content: center; 
                align-items:center; 
                // box-shadow: inset 0 0 23px #aaa, -8px 10px 0 2px #eee;
                border-radius: 25px;
        
                img {
                    width: 170px; 
                    height: auto; 
                    
                }
                background:unset; 
                svg {
                    width: 70px; 
                    height: 70px; 
                }
            } 
        }
    } .boxs:nth-child(even) {
        .box {
            
        }
    }
}


@media screen and (max-width: 1250px) {
    .business {
        .boxs {
            .box:first-child {
                width: unset; 
            } .box {
              
            }
        }   .boxs:nth-child(even) {
            .box {
               
            }
        }
    }
}

@media screen and (max-width: 1170px) {
    .business {
        .boxs {
            .box {
               
            }
        } .boxs:nth-child(even) {
            .box {
              
            }
        }
    }

}



@media screen and (max-width: 1090px) {
    .business {
        .boxs {
            .box {
              
            }
        } .boxs:nth-child(even) {
            .box {
              
            }
        }
    }
}

@media screen and (max-width: 1050px) {


    .business {
        .boxs {
            .box {
              .circle {
                  flex-direction:column;
                    img {
                        width: 140px; 
                    }
              }
            }
        } .boxs:nth-child(even) {
            .box {
               
            }
        }
    }
}


@media screen and (max-width: 1000px) {
    .plan__container.section {
        padding: 100px 50px 50px;
    }

    .business {
        // padding: 100px 50px 50px;
        padding: 0 50px;
        $gap: -90px; 
        $height: 70%; 
        gap: 50px;
        .boxs {
            gap: 45px; 
            .box {
                .circle {
                    width: 130px; 
                    height: 130px;
                    svg {
                        width: 50px; 
                        height: 50px;
                    }
                }
            }
            .box:last-child {
                width: 100%; 
                position: relative;
            }
            .box:last-child::before {
                content: '';
                width: 3px;
                height: $height;
                
                position: absolute;
                left: $gap;
            }


            .box {
                .circle::before {
                    display: none;
                }
            }
        } .boxs:nth-child(even) {
            .box {
               .circle::before {
                   display: none;
               }
            } .box:last-child::before {
                display:none; 
                
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .business {
        $gap: -60px; 
        height: 70%;
        .boxs {
            .box:last-child::before {
                left: $gap; 
            }
        } .boxs:nth-child(even) {
            .box:last-child::before {
                left: unset; 
                right: $gap; 
                display:none;
            }
        }
    }
}

@media screen and (max-width: 785px) {
    .wave {
        margin-top: 100px;
    }
    .plan__container.section {
        padding: 0 20px;
        margin-top: 105px; 
        margin-bottom: 50px;
    } .business {
        padding: 0 20px;
        .boxs:nth-child(even) {
            flex-direction:column-reverse; 
            text-align:center; 
            align-items:center; 
            margin: 40px 0;
            .box {
                .detail {
                    width: 100%; 
                }
            }
        }
        .boxs {
            gap: 20px;
            display:flex; 
            flex-direction:column-reverse; 
            text-align:center; 
            align-items:center; 
            .box {
                text-align:center; 
                align-items:center; 
                height: unset; 
                .detail {
                    
                    display:flex; 
                    flex-direction:column;
                    justify-content:center;
                    align-items: center;
                    p {
                        text-align:center;
                        margin:auto;
                    } h2 {
                        font-size: 26px; 
                    }
                    justify-content:center;
                    align-items:center;
                } p {
                    text-align:center;
                }
                .circle {
                    width: unset; 
                    height: unset;
                    flex-direction:row; 
                    svg {
                        width: 40px; 
                        height: 40px; 
                    } 
                }
            } .box:last-child::before {
                display:none;
            } .box:last-child {
                flex: 1; 
                width: unset;
            }
        }
    }

}

@media screen and (max-width: 640px) {
    .business {
        .boxs {
            .box {
                .circle {
                    // width: 50px; 
                    // height: 50px; 
                    
                    // svg {
                    //     width: 15px; 
                    //     height: 15px;
                        
                    // }
                }
            } 
            
            .box:first-child,
            .box:last-child {
                width: unset;
            }
        }
    }

}

@media screen and (max-width: 550px) {
    .business {
        .boxs:nth-child(even) {
            .box {
                .detail {
                    margin-bottom: 20px;
                    h2 {
                        text-align:center; 
                    }
                }
            }
        }
        .boxs {
            .box {
                .circle {
                    img {
                        width: 80px; 
                    }
                }
            }
            .box:last-child {
                .detail {
                    margin-bottom: 25px;
                }
                h2 {
                    font-size: 20px; 
                    text-align:center; 
                } h5 {
                    font-size: 19px; 
                } p {
                    font-size: 12px; 
                }
            } .box.list {
                ul {
                    li {
                        gap: 5px; 
                        span.deskripsi {
                            font-size: 14px; 
                        } span.number {
                            font-size: 16px;
                            width: 25px; 
                            height: 25px; 
                        }
                    }
                }
            }
        }
    }
}