@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@-webkit-keyframes trianglebig1920 {
  0% {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes trianglebig1920 {
  0% {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes trianglemedium1920 {
  0% {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes trianglemedium1920 {
  0% {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes trianglesmall1920 {
  0% {
    -webkit-transform: translate(0, -60px);
            transform: translate(0, -60px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes trianglesmall1920 {
  0% {
    -webkit-transform: translate(0, -60px);
            transform: translate(0, -60px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes trianglebig1000 {
  0% {
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes trianglebig1000 {
  0% {
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes trianglemedium1000 {
  0% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes trianglemedium1000 {
  0% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes trianglesmall1000 {
  0% {
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes trianglesmall1000 {
  0% {
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

:root {
  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #fff;
  --section-bg-color: #202834;
  --navigation-item-hover-color: #3b5378;
  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  --scroll-bar-color: #fff;
  --scroll-thumb-color: #C9313A;
  --scroll-thumb-hover-color: #8E1B2F;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 11px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background: var(--scroll-thumb-color);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-color);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--body-bg-color);
}

section {
  position: relative;
}

.section {
  overflow: hidden;
  padding: 35px 90px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.container {
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
}

img.img-support {
  width: 800px;
  position: absolute;
}

img.img-support-background1 {
  width: 400px;
  position: absolute;
  z-index: 1;
  height: 400px;
  top: 0;
  right: -56px;
  top: -73px;
  -o-object-fit: cover;
     object-fit: cover;
}

img.img-support-background2 {
  width: 350px;
  position: absolute;
  z-index: 1;
  height: 340px;
  left: -8px;
  bottom: -54px;
  -o-object-fit: cover;
  object-fit: cover;
}

img.separate {
  width: 100%;
}

header {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: calc(5rem + 1rem);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: height, background;
  transition-property: height, background;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

header .nav-bar {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 90px;
}

header .nav-bar .logo img {
  width: 150px;
}

header .nav-bar .navigation {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header .nav-bar .navigation li {
  height: 100%;
  width: 120px;
  position: relative;
}

header .nav-bar .navigation li svg.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header .nav-bar .navigation li .sub-menu.active {
  bottom: -104px;
  z-index: 1;
  pointer-events: unset;
  opacity: 1;
}

header .nav-bar .navigation li a {
  color: white;
}

header .nav-bar .navigation li svg {
  -webkit-filter: invert(100%) sepia(7%) saturate(7474%) hue-rotate(155deg) brightness(120%) contrast(102%);
          filter: invert(100%) sepia(7%) saturate(7474%) hue-rotate(155deg) brightness(120%) contrast(102%);
  width: 15px;
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}

header .nav-bar .navigation li .menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

header .nav-bar .navigation li .sub-menu {
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  bottom: -65px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

header .nav-bar .navigation li .sub-menu a {
  color: white;
  display: inline-block;
  padding: 5px 0;
}

header .nav-bar .navigation li .sub-menu a:nth-child(2) {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

header.sticky {
  height: calc(2.5rem + 1rem);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header.active {
  background: #C9313A;
  -webkit-backdrop-filter: unset;
          backdrop-filter: unset;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#C9313A), color-stop(#C42A37), to(#8E1B2F));
  background-image: linear-gradient(-180deg, #C9313A, #C42A37, #8E1B2F);
}

.nav-menu-btn {
  display: none;
}

.section {
  position: relative;
  padding: 100px 90px;
}

.section .section-title h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: #757575;
}

.section .section-title .line {
  width: 30px;
  height: 3px;
  display: block;
  margin: 5px auto;
  background: #C9313A;
}

.section .section-title p {
  margin: 25px auto;
  width: 600px;
  line-height: 2;
  text-align: center;
}

.footer.section {
  padding: unset;
}

.footer.section {
  overflow: unset;
}

.footer {
  position: relative;
  background-color: #212529;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 370px 300px 300px;
      grid-template-columns: 370px 300px 300px;
  gap: unset;
  margin: -35px 90px 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__col h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #eee;
  margin-bottom: 1rem;
}

.footer__col h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #eee;
  margin-bottom: 1rem;
}

.footer__col p {
  line-height: 1.8;
  font-size: .8em;
  color: #fff;
  margin-bottom: 1rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__col p:hover {
  color: #eee;
}

.footer__col .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  aling-items: center;
  gap: 10px;
}

.footer__col .icon svg {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 25px;
      flex-basis: 25px;
  width: 25px;
  height: 25px;
}

.footer__bar {
  padding: 30px 0;
  border-top: 1px solid white;
}

.footer__bar .contents {
  margin: 0 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.footer__bar .contents p {
  font-size: 0.9rem;
  color: #fff;
}

.footer__bar .contents .support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer__bar .contents .support img {
  width: 130px;
  -webkit-filter: brightness(1) contrast(0.5);
          filter: brightness(1) contrast(0.5);
}

.footer__bar .contents .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.footer__bar .contents .socials .icon {
  background: #383B3F;
  padding: 10px;
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-hero {
  height: 500px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#C23440), to(#A81925));
  background-image: linear-gradient(to bottom, #C23440, #A81925);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.banner-hero p {
  text-align: center;
  width: 30%;
  font-size: 18px;
  color: #D99C9C;
}

.banner-hero h1 {
  font-size: 40px;
  color: white;
}

.banner-hero .bottom,
.banner-hero .left-triangle,
.banner-hero .right-triangle {
  position: absolute;
}

.banner-hero .bottom {
  left: 0;
  right: 0;
  bottom: -120px;
}

.banner-hero .bottom svg {
  width: 100%;
}

.banner-hero .left-triangle {
  left: 0;
}

.banner-hero .left-triangle svg:nth-child(3) {
  width: 150px;
  height: 150px;
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  -webkit-animation: trianglebig1920 1s ease 0s infinite alternate;
          animation: trianglebig1920 1s ease 0s infinite alternate;
}

.banner-hero .left-triangle svg:nth-child(2) {
  width: 70px;
  height: 70px;
  position: absolute;
  right: -90px;
  bottom: 40px;
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-animation: trianglemedium1920 1s ease 1s infinite alternate;
          animation: trianglemedium1920 1s ease 1s infinite alternate;
}

.banner-hero .left-triangle svg:nth-child(1) {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -20px;
  bottom: -30px;
  -webkit-transform: translate(0, -60px);
          transform: translate(0, -60px);
  -webkit-animation: trianglesmall1920 1s ease 2s infinite alternate;
          animation: trianglesmall1920 1s ease 2s infinite alternate;
}

.banner-hero .right-triangle {
  right: 0;
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

.banner-hero .right-triangle svg:nth-child(3) {
  width: 150px;
  height: 150px;
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  -webkit-animation: trianglebig1920 1s ease 2s infinite alternate;
          animation: trianglebig1920 1s ease 2s infinite alternate;
}

.banner-hero .right-triangle svg:nth-child(2) {
  width: 70px;
  height: 70px;
  position: absolute;
  right: -90px;
  bottom: 40px;
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-animation: trianglemedium1920 1s ease 1s infinite alternate;
          animation: trianglemedium1920 1s ease 1s infinite alternate;
}

.banner-hero .right-triangle svg:nth-child(1) {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -20px;
  bottom: -30px;
  -webkit-transform: translate(0, -60px);
          transform: translate(0, -60px);
  -webkit-animation: trianglesmall1920 1s ease 0s infinite alternate;
          animation: trianglesmall1920 1s ease 0s infinite alternate;
}

.img-title {
  width: 150px;
  margin-bottom: 10px;
}

.plan__container.pln2.section {
  padding: 0 90px;
  overflow: unset;
}

.plan__container .section__header {
  font-size: 2.5rem;
  line-height: 4rem;
  margin-top: 1rem;
}

.plan__container .section__description {
  font-size: 18px;
  width: 60%;
  margin-top: 20px;
}

.plan__container .line {
  width: 70px;
  height: 4px;
  display: inline-block;
  background: #C9313A;
}

.plan__grid {
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.plan__content .number {
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 2rem;
}

.plan__content .number:nth-child(4) {
  background-color: #e98b6d;
}

.plan__content .number:nth-child(7) {
  background-color: #ffcca3;
}

.plan__content h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 0.5rem;
}

.plan__content p {
  color: var(--text-light);
  margin-bottom: 2rem;
  line-height: 2;
  text-align: justify;
  font-size: 18px;
}

.plan__image {
  position: relative;
}

.plan__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10rem;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.plan__image img:nth-child(1) {
  max-width: 250px;
  height: 400px;
  -webkit-transform: translate(calc(-50% - 9rem), calc(-50% + 5rem));
          transform: translate(calc(-50% - 9rem), calc(-50% + 5rem));
  z-index: 3;
}

.plan__image img:nth-child(2) {
  max-width: 260px;
  height: 400px;
  -webkit-transform: translate(-50%, calc(-50% - 5rem));
          transform: translate(-50%, calc(-50% - 5rem));
  z-index: 2;
}

.plan__image img:nth-child(3) {
  max-width: 230px;
  height: 400px;
  -webkit-transform: translate(calc(-50% + 9rem), calc(-50% + 5rem));
          transform: translate(calc(-50% + 9rem), calc(-50% + 5rem));
}

.service .service-boxs {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  position: relative;
  z-index: 1;
}

.service .service-boxs .service-box:hover .service-overlay {
  width: 100%;
  height: 100%;
  background: #C9313A;
}

.service .service-boxs .service-box:hover .service-icon, .service .service-boxs .service-box:hover h5, .service .service-boxs .service-box:hover p {
  z-index: 1;
  color: white;
}

.service .service-boxs .service-box:hover .service-icon svg {
  -webkit-filter: invert(11) brightness(6.5);
          filter: invert(11) brightness(6.5);
}

.service .service-boxs .service-box {
  position: relative;
  -webkit-box-shadow: 0 0 10px 0 #999;
          box-shadow: 0 0 10px 0 #999;
  background: white;
  padding: 70px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 20px;
}

.service .service-boxs .service-box .service-overlay {
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  width: 70px;
  height: 70px;
  background: #ffc5cf;
  position: absolute;
  bottom: 0;
  right: 0;
}

.service .service-boxs .service-box .service-icon {
  width: 70px;
  height: 70px;
  background: #ffc5cf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service .service-boxs .service-box .service-icon svg {
  width: 50px;
  height: 50px;
}

.service .service-boxs .service-box h5 {
  font-size: 21px;
}

.service .service-boxs .service-box p {
  font-size: 0.9em;
}

.service .service-boxs .service-box:nth-child(2) .service-icon svg {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1570px) {
  .banner-hero p {
    width: 40%;
  }
}

@media screen and (max-width: 1500px) {
  .plan__container .section__description {
    width: 71%;
  }
}

@media screen and (max-width: 1400px) {
  .service .service-boxs {
    gap: 20px;
  }
  .service .service-boxs .service-box {
    padding: 50px 20px;
  }
  .service .service-boxs .service-box .service-overlay {
    width: 40px;
    height: 40px;
  }
  img.img-support-background1 {
    width: 300px;
    height: 300px;
    right: -56px;
    top: -73px;
  }
  img.img-support-background2 {
    width: 250px;
    height: 240px;
    left: -8px;
    bottom: -54px;
  }
}

@media screen and (max-width: 1300px) {
  .plan__grid {
    -ms-grid-columns: 1.6fr 1fr;
        grid-template-columns: 1.6fr 1fr;
  }
  .plan__container.pln2 .plan__grid {
    -ms-grid-columns: 1fr 1.6fr;
        grid-template-columns: 1fr 1.6fr;
  }
  .plan__image img:nth-child(1), .plan__image img:nth-child(2), .plan__image img:nth-child(3) {
    -webkit-transform: unset;
            transform: unset;
    max-width: unset;
    width: 100%;
    margin: auto;
    position: static;
    left: 0;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
  }
  .plan__image img:nth-child(2) {
    margin: 20px 0;
  }
}

@media screen and (max-width: 1220px) {
  .banner-hero p {
    width: 50%;
  }
  .banner-hero .bottom {
    bottom: -80px;
  }
  .plan__container {
    overflow: hidden;
  }
}

@media screen and (max-width: 1200px) {
  .footer__container {
    -ms-grid-columns: 350px 285px 285px;
        grid-template-columns: 350px 285px 285px;
    gap: unset;
    margin: -36px 45px 70px;
  }
  .footer__bar .contents {
    margin: 0 45px 0;
  }
}

@media screen and (max-width: 1100px) {
  .plan__container.pln2.section {
    padding: 0 50px;
  }
  header .nav-bar {
    padding: 0 50px;
  }
  .section {
    padding: 25px 50px;
  }
  .footer__col h3 {
    font-size: 1.2rem;
  }
  .footer__col p {
    font-size: .7em;
  }
  .footer__container {
    -ms-grid-columns: 281px 211px 253px;
        grid-template-columns: 281px 211px 253px;
  }
  .footer__bar .contents p {
    font-size: .7em;
  }
  .footer__bar .contents .support {
    gap: 15px;
  }
  .footer__bar .contents .support img {
    width: 110px;
  }
  .footer__bar .contents .socials .icon {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 40px;
        flex-basis: 40px;
    height: 40px;
  }
  .footer__bar .contents .socials .icon svg {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .service .service-boxs .service-box .service-icon {
    width: 60px;
    height: 60px;
  }
  .service .service-boxs .service-box .service-icon svg {
    width: 40px;
    height: 40px;
  }
  .service .service-boxs .service-box h5 {
    font-size: 16px;
  }
  .service .service-boxs .service-box p {
    font-size: 12px;
  }
  .plan__container .section__description {
    width: 71%;
  }
  .section .section-title h2 {
    font-size: 40px;
  }
  img.img-support-background1 {
    width: 200px;
    height: 200px;
    right: -56px;
    top: -73px;
  }
  img.img-support-background2 {
    width: 150px;
    height: 140px;
    left: -8px;
    bottom: -54px;
  }
  .banner-hero .left-triangle svg:nth-child(3) {
    width: 100px;
    height: 100px;
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
    -webkit-animation: trianglebig1000 1s ease 0s infinite alternate;
            animation: trianglebig1000 1s ease 0s infinite alternate;
  }
  .banner-hero .left-triangle svg:nth-child(2) {
    width: 40px;
    height: 40px;
    right: -70px;
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
    -webkit-animation: trianglemedium1000 1s ease 0s infinite alternate;
            animation: trianglemedium1000 1s ease 0s infinite alternate;
  }
  .banner-hero .left-triangle svg:nth-child(1) {
    width: 20px;
    height: 20px;
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px);
    -webkit-animation: trianglesmall1000 1s ease 0s infinite alternate;
            animation: trianglesmall1000 1s ease 0s infinite alternate;
  }
  .banner-hero .right-triangle svg:nth-child(3) {
    width: 100px;
    height: 100px;
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
    -webkit-animation: trianglebig1000 1s ease 0s infinite alternate;
            animation: trianglebig1000 1s ease 0s infinite alternate;
  }
  .banner-hero .right-triangle svg:nth-child(2) {
    width: 40px;
    height: 40px;
    right: -70px;
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
    -webkit-animation: trianglemedium1000 1s ease 0s infinite alternate;
            animation: trianglemedium1000 1s ease 0s infinite alternate;
  }
  .banner-hero .right-triangle svg:nth-child(1) {
    width: 20px;
    height: 20px;
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px);
    -webkit-animation: trianglesmall1000 1s ease 0s infinite alternate;
            animation: trianglesmall1000 1s ease 0s infinite alternate;
  }
}

@media screen and (max-width: 960px) {
  .banner-hero p {
    width: 60%;
  }
  .plan__container .section__description {
    font-size: 16px;
  }
  .plan__container .section__header {
    font-size: 2rem;
  }
  .plan__content p {
    font-size: 16px;
  }
  .plan__grid {
    -ms-grid-columns: 1.9fr 1fr;
        grid-template-columns: 1.9fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .footer__container {
    -ms-grid-columns: 250px 148px 196px;
        grid-template-columns: 250px 148px 196px;
  }
}

@media screen and (max-width: 880px) {
  header {
    height: 75px;
  }
  header .nav-bar .logo img {
    width: 120px;
  }
  .banner-hero {
    height: 300px;
  }
  .banner-hero h1 {
    font-size: 30px;
  }
  .banner-hero p {
    width: 48%;
    font-size: 16px;
  }
  .banner-hero .bottom {
    bottom: -115px;
  }
  .banner-hero .left-triangle svg:nth-child(3),
  .banner-hero .right-triangle svg:nth-child(3) {
    width: 70px;
    height: 70px;
  }
  .banner-hero .left-triangle svg:nth-child(2),
  .banner-hero .right-triangle svg:nth-child(2) {
    width: 30px;
    height: 30px;
    right: -40px;
  }
}

@media screen and (max-width: 860px) {
  .section .section-title p {
    font-size: 14px;
  }
}

@media screen and (max-width: 785px) {
  .service .service-boxs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service .service-boxs .service-box {
    width: 70%;
    margin: auto;
  }
  .service .service-boxs .service-box h5 {
    font-size: 23px;
  }
  .service .service-boxs .service-box p {
    font-size: 17px;
  }
  header {
    z-index: 9999;
    height: unset;
    height: 70px;
    background: #C9313A;
  }
  header .nav-bar {
    padding: 25px 20px;
  }
  header .nav-bar .logo img {
    width: 115px;
  }
  header .nav-bar .navigation.active {
    visibility: visible;
    opacity: 1;
    pointer-events: unset;
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    opacity: 1;
  }
  header .nav-bar .nav-menu-btn {
    display: block;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
  }
  header .nav-bar .nav-close-btn {
    display: block;
    color: var(--text-light);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
  }
  header .nav-bar .navigation {
    -webkit-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
    background: #C9313A;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    z-index: 99999;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 0;
    height: 100vh;
    width: 40%;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
    gap: 25px;
  }
  header .nav-bar .navigation li {
    height: unset;
    width: 100%;
  }
  header .nav-bar .navigation li .sub-menu.active {
    bottom: unset;
    opacity: unset;
    pointer-events: unset;
    height: unset;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  header .nav-bar .navigation li .sub-menu {
    margin-top: 10px;
    position: unset;
    bottom: unset;
    height: 0;
    pointer-events: none;
    opacity: 0;
    background: unset;
    -webkit-backdrop-filter: unset;
            backdrop-filter: unset;
  }
  header .nav-bar .navigation li .sub-menu a:first-child {
    border-top: 1px solid white;
  }
  header .nav-bar .navigation li .sub-menu a:last-child {
    border-bottom: 1px solid white;
  }
  header .nav-bar .navigation li .sub-menu a {
    padding: 10px 0;
    width: 100%;
    text-align: left;
    padding-left: 25px;
  }
  header .nav-bar .navigation li .menu {
    height: unset;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    /* border: 1px solid black; */
    padding-left: 25px;
  }
  header .nav-bar .navigation .nav-items {
    position: relative;
    background: var(--white-color);
    width: 400px;
    max-width: 400px;
    display: -ms-grid;
    display: grid;
    place-content: center;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  header .nav-bar .navigation .nav-items a {
    color: var(--text-light);
    font-size: 1em;
    margin: 15px 50px;
  }
  header .nav-bar .navigation .nav-items a:hover {
    color: var(--white);
  }
  header .nav-bar .navigation .nav-items a i {
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px;
  }
  .banner-hero {
    display: none;
  }
  .mwave {
    display: block;
    left: 0;
    right: 0;
    top: -10px;
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  .plan__image {
    margin: unset;
    padding: unset;
    position: static;
    height: 565px;
  }
  .plan__grid {
    display: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .plan__container {
    margin-top: 45px;
  }
  .plan__container.pln2.section {
    padding: 0 20px;
  }
  .plan__container.pln2 {
    margin-top: unset;
  }
  .plan__container.pln2 .plan__grid {
    display: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plan__image {
    position: relative;
  }
  .plan__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10rem;
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  .plan__image img:nth-child(1) {
    max-width: 260px;
    height: 400px;
    z-index: 3;
    border-radius: 300px;
    left: 32%;
    top: 2%;
    position: absolute;
  }
  .plan__image img:nth-child(2) {
    max-width: 230px;
    height: 400px;
    z-index: 2;
    border-radius: 300px;
    left: 10%;
    top: 23%;
    position: absolute;
  }
  .plan__image img:nth-child(3) {
    max-width: 230px;
    height: 400px;
    position: absolute;
    top: 26%;
    left: 57%;
    border-radius: 300px;
  }
  .plan__image img:nth-child(2) {
    margin: unset 0;
  }
  .banner-hero {
    height: 370px;
  }
  .banner-hero p {
    width: 50%;
    font-size: 16px;
  }
  .banner-hero h1 {
    font-size: 40px;
  }
  .banner-hero .bottom {
    display: none;
  }
  .banner-hero .left-triangle svg:nth-child(3) {
    width: 100px;
    height: 100px;
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
    -webkit-animation: trianglebig1000 1s ease 0s infinite alternate;
            animation: trianglebig1000 1s ease 0s infinite alternate;
  }
  .banner-hero .left-triangle svg:nth-child(2) {
    width: 40px;
    height: 40px;
    right: -70px;
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
    -webkit-animation: trianglemedium1000 1s ease 1s infinite alternate;
            animation: trianglemedium1000 1s ease 1s infinite alternate;
  }
  .banner-hero .left-triangle svg:nth-child(1) {
    width: 20px;
    height: 20px;
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px);
    -webkit-animation: trianglesmall1000 1s ease 2s infinite alternate;
            animation: trianglesmall1000 1s ease 2s infinite alternate;
  }
  .banner-hero .right-triangle svg:nth-child(3) {
    width: 100px;
    height: 100px;
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
    -webkit-animation: trianglebig1000 1s ease 2s infinite alternate;
            animation: trianglebig1000 1s ease 2s infinite alternate;
  }
  .banner-hero .right-triangle svg:nth-child(2) {
    width: 40px;
    height: 40px;
    right: -70px;
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
    -webkit-animation: trianglemedium1000 1s ease 1s infinite alternate;
            animation: trianglemedium1000 1s ease 1s infinite alternate;
  }
  .banner-hero .right-triangle svg:nth-child(1) {
    width: 20px;
    height: 20px;
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px);
    -webkit-animation: trianglesmall1000 1s ease 0s infinite alternate;
            animation: trianglesmall1000 1s ease 0s infinite alternate;
  }
  .footer__col:first-child {
    margin-top: 40px;
  }
  .footer__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 30px;
    margin: -9px 25px 70px;
  }
  .footer__bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__bar .contents {
    margin: 0 25px 0;
  }
  .footer__bar .contents .support {
    display: none;
  }
  .section {
    padding: 25px 20px;
  }
  .section .section-title {
    z-index: 1;
    position: relative;
    margin-top: 70px;
  }
  .section .section-title p {
    width: 75%;
    font-size: 16px;
  }
  .section .section-title h2 {
    font-size: 30px;
  }
  img.img-support-background1 {
    width: 100px;
    height: 100px;
    right: -8px;
    top: -16px;
    display: none;
  }
  img.img-support-background2 {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .plan__image img:nth-child(2) {
    left: 8%;
  }
}

@media screen and (max-width: 690px) {
  .plan__image {
    height: 81.88406vw;
  }
  .plan__image img:nth-child(2) {
    left: 4.78261vw;
    top: 17.97101vw;
    max-width: 33.33333vw;
    height: 57.97101vw;
    height: 57.97101vw;
    border-radius: 43.47826vw;
  }
  .plan__image img:nth-child(1) {
    left: 24.63768vw;
    top: 1.44928vw;
    border-radius: 43.47826vw;
    max-width: 37.68116vw;
    height: 57.97101vw;
  }
  .plan__image img:nth-child(3) {
    max-width: 33.33333vw;
    height: 57.97101vw;
    top: 21.01449vw;
    left: unset;
    right: 5.07246vw;
    border-radius: 43.47826vw;
  }
  .banner-hero .left-triangle svg:nth-child(3),
  .banner-hero .right-triangle svg:nth-child(3) {
    position: absolute;
    right: -50px;
    width: 70px;
    height: 70px;
  }
  .banner-hero .left-triangle svg:nth-child(2),
  .banner-hero .right-triangle svg:nth-child(2) {
    width: 30px;
    height: 30px;
    right: -40px;
  }
  .banner-hero .left-triangle svg:nth-child(1),
  .banner-hero .right-triangle svg:nth-child(1) {
    width: 10px;
    height: 10px;
  }
  .banner-hero p {
    width: 70%;
    font-size: 13px;
  }
  .banner-hero h1 {
    font-size: 30px;
  }
  .plan__content p {
    font-size: 13px;
  }
  .plan__container .section__header {
    font-size: 30px;
  }
}

@media screen and (max-width: 590px) {
  .section .section-title p {
    width: unset;
    font-size: 13px;
  }
  .section .section-title h2 {
    font-size: 20px;
  }
  .section .section-title .line {
    margin-top: 20px;
  }
  .service .service-boxs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service .service-boxs .service-box {
    width: 100%;
    margin: auto;
  }
  .service .service-boxs .service-box h5 {
    font-size: 18px;
  }
  .service .service-boxs .service-box p {
    font-size: 12px;
  }
}

@media screen and (max-width: 550px) {
  .plan__container .section__description {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .footer__bar .contents .socials {
    gap: 10px;
  }
  .footer__bar .contents .socials .icon {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 30px;
        flex-basis: 30px;
    height: 30px;
  }
  .footer__bar .contents .socials .icon svg {
    width: 10px;
    height: 10px;
  }
  .banner-hero p {
    width: 85%;
    font-size: 16px;
  }
  .banner-hero h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 485px) {
  .plan__image img:nth-child(3) {
    top: 24.05797vw;
  }
}

.plan__container.section {
  padding: 100px 90px 50px;
}

.business {
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.business .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.business .boxs .box {
  height: 414px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.business .boxs .box .circle {
  background: #8E1B2F;
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 50%;
  position: relative;
  z-index: 99;
}

.business .boxs .box .circle svg {
  width: 100px;
  height: 100px;
  -webkit-transform: translate(0, 70%);
          transform: translate(0, 70%);
}

.business .boxs .box .circle::before {
  content: '';
  width: 879px;
  height: 4px;
  background: #8E1B2F;
  position: absolute;
  bottom: -50%;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.business .boxs .box:first-child {
  position: relative;
  width: 50%;
  text-align: center;
}

.business .boxs .box:last-child {
  width: 50%;
  text-align: center;
}

.business .boxs .box:last-child h2 {
  font-size: 30px;
  margin-bottom: 15px;
  color: #8E1B2F;
}

.business .boxs .box:last-child p {
  font-size: 16px;
  line-height: 2;
}

.business .boxs .box:last-child h5 {
  margin: 15px 0;
  font-size: 23px;
  color: #C9313A;
}

.business .boxs .box.list {
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.business .boxs .box.list ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.business .boxs .box.list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.business .boxs .box.list ul li .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #8E1B2F;
  color: white;
  font-size: 22px;
}

.business .boxs:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.business .boxs:nth-child(even) .box .circle {
  background: black;
}

.business .boxs:nth-child(even) .box .circle::before {
  content: '';
  width: 879px;
  height: 4px;
  background: black;
  position: absolute;
  bottom: -25%;
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
  right: 100px;
}

.business .boxs:last-child .box .circle::before {
  display: none;
}

@media screen and (max-width: 1700px) {
  .business .boxs:nth-child(even) .box .circle::before {
    width: 770px;
    bottom: -35%;
    left: unset;
  }
  .business .boxs .box .circle::before {
    width: 770px;
    left: 0;
    bottom: -35%;
  }
}

@media screen and (max-width: 1400px) {
  .business .boxs .box.list ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .business .boxs .box.list ul li {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25px 1fr;
        grid-template-columns: 25px 1fr;
    gap: 20px;
  }
  .business .boxs .box .circle {
    width: 180px;
    height: 180px;
  }
  .business .boxs .box .circle svg {
    width: 70px;
    height: 70px;
  }
  .business .boxs .box .circle::before {
    width: 670px;
    left: 50px;
    bottom: -75%;
    -webkit-transform: rotate(35deg);
    transform: rotate(30deg);
  }
  .business .boxs:nth-child(even) .box .circle::before {
    width: 670px;
    left: unset;
    right: 50px;
    bottom: -60%;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@media screen and (max-width: 1250px) {
  .business .boxs .box:first-child {
    width: unset;
  }
  .business .boxs .box .circle::before {
    width: 800px;
    left: 135px;
    bottom: -60%;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  .business .boxs:nth-child(even) .box .circle::before {
    width: 800px;
    left: unset;
    right: 135px;
    bottom: -60%;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
}

@media screen and (max-width: 1170px) {
  .business .boxs .box .circle::before {
    left: 80px;
    bottom: -70%;
  }
  .business .boxs:nth-child(even) .box .circle::before {
    left: unset;
    right: 80px;
    bottom: -70%;
  }
}

@media screen and (max-width: 1090px) {
  .business .boxs .box .circle::before {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    bottom: -85%;
  }
  .business .boxs:nth-child(even) .box .circle::before {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
    bottom: -85%;
  }
}

@media screen and (max-width: 1050px) {
  .business .boxs .box .circle::before {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    width: 650px;
    bottom: -65%;
  }
  .business .boxs:nth-child(even) .box .circle::before {
    width: 650px;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
    bottom: -65%;
  }
}

@media screen and (max-width: 1000px) {
  .plan__container.section {
    padding: 100px 50px 50px;
  }
  .business {
    padding: 0 50px;
    gap: 50px;
  }
  .business .boxs .box .circle {
    width: 130px;
    height: 130px;
  }
  .business .boxs .box .circle svg {
    width: 50px;
    height: 50px;
  }
  .business .boxs .box:last-child {
    width: 65%;
    position: relative;
  }
  .business .boxs .box:last-child::before {
    content: '';
    width: 3px;
    height: 70%;
    background: #8E1B2F;
    position: absolute;
    left: -90px;
  }
  .business .boxs .box .circle::before {
    display: none;
  }
  .business .boxs:nth-child(even) .box .circle::before {
    display: none;
  }
  .business .boxs:nth-child(even) .box:last-child::before {
    content: '';
    width: 3px;
    height: 70%;
    background: #8E1B2F;
    position: absolute;
    left: unset;
    right: -90px;
  }
}

@media screen and (max-width: 850px) {
  .business {
    height: 70%;
  }
  .business .boxs .box:last-child::before {
    left: -60px;
  }
  .business .boxs:nth-child(even) .box:last-child::before {
    left: unset;
    right: -60px;
  }
}

@media screen and (max-width: 785px) {
  .wave {
    margin-top: 100px;
  }
  .plan__container.section {
    padding: 0 20px;
    margin-top: 105px;
    margin-bottom: 50px;
  }
  .business {
    padding: 0 20px;
  }
  .business .boxs {
    gap: 20px;
  }
  .business .boxs .box {
    height: unset;
  }
  .business .boxs .box .circle {
    width: 100px;
    height: 100px;
  }
  .business .boxs .box .circle svg {
    width: 40px;
    height: 40px;
  }
  .business .boxs .box:last-child::before {
    display: none;
  }
  .business .boxs .box:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: unset;
  }
}

@media screen and (max-width: 640px) {
  .business .boxs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .business .boxs .box:first-child,
  .business .boxs .box:last-child {
    width: unset;
  }
  .business .boxs:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .business .boxs .box:last-child h2 {
    font-size: 25px;
  }
  .business .boxs .box:last-child h5 {
    font-size: 19px;
  }
  .business .boxs .box:last-child p {
    font-size: 14px;
  }
  .business .boxs .box.list ul li {
    gap: 5px;
  }
  .business .boxs .box.list ul li span.deskripsi {
    font-size: 14px;
  }
  .business .boxs .box.list ul li span.number {
    font-size: 16px;
    width: 25px;
    height: 25px;
  }
}
/*# sourceMappingURL=business.css.map */