@import './main';

.twolayer.section {
    padding-top: unset; 
}

.plan__container.section {
    padding-top: 50px; 
    padding-bottom: 50px; 
}

footer.section  {
    margin-top: 100px; 
    .footer__container {
        padding-top: 45px; 
        margin-bottom: 34px;
    
    }
}
@media screen and (max-width: 1100px) {
    footer.section {
        margin-top: 60px;
    }

}
@media screen and (max-width: 785px) {
    footer.section  {
        margin-top: 55px; 
        .footer__container {
            padding-top: unset; 
            margin-bottom: 34px;
        
        }
    }

}

@media screen and (max-width: 550px) {
    footer.section {
        margin-top: 40px;
    }

}

@media screen and (max-width: 400px) {
    .mobilemode.section {
        margin-top: 90px;
        .components {
            margin-bottom: 20px; 
            .section__header {
                line-height: unset; 
                font-size: 1.4rem;
            }
        }
    }

}

.nodata {
    display:flex; 
    flex-direction:column; 
    justify-self: center;
    text-align: center;
    align-items:center;
    img {
        width: 500px; 
    } .detail {
        h3 {
            font-size: 23px; 
            
        } p {
            font-size: 18px;
        }
    }
}

.pagination {
   
    justify-self: center;
    align-self:center; 
    display:flex; 
    align-items: center;
    gap: 10px; 
    margin: auto; 
    margin-top: 40px; 
    svg {
        width: 18px; 
        height: auto; 
        cursor: pointer; 
    
    }
    .numbers {
        transform: translate(0,-5px);
        display:flex;
        gap: 10px; 
        align-items:center; 
        span {
            cursor: pointer; 
            font-size: 18px; 
            display:inline-block; 
            width: 40px; 
            height: 40px; 
            display:grid;
            place-content: center;
            border-radius: 50%; 
        } span.active {
            background: $red3; 
            color:white; 
        }
    }
}
.twolayer {
    margin-top:30px; 
    display:flex;
    flex-direction: column; 
    gap: 20px;
    // padding: unset; 
    .right {
        a {
            color:$red3;
        }
        .menu {
            display:flex;
            align-items:center;
            justify-content:space-between;
            padding: 20px; 
            // background: #efefef;
        }
        display:flex; 
        flex-direction:column;
        gap: 20px; 
        .relateds {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

            a {
                display:inline-block;
                padding: 3px 6px; 
                background: #efefef;
                color:black;
                border-radius: 3px; 
            }
        }
        .component {
            display:flex; 
            gap: 10px; 
            align-items:center; 
            margin-bottom: unset;
            img {
                width: 50px; 
            }       h3 {
                font-size: 22px; 
            }
        } .search {
            display: flex;
            align-items: center;
            gap: 15px;
            .jobname,
            .location {
                background:white; 
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 6px;
                // border: 1px solid;
                padding-right: 10px;
                box-shadow: 0 0 5px #eee;
                input,select {
                    border:unset; 
                    outline:unset; 
                } svg {
                    width: 20px; 
                    height: auto; 
                }
            } button {
                background: $red3; 
                color:white; 
                border:unset; 
                outline:unset; 
                padding: 5px 10px; 
                border-radius: 3px; 
            }
        }
    }

    .left {
        display:flex; 
        flex-direction:column;
        flex: 1; 
        .job-found {
            display:flex; 
            align-items:center; 
            justify-content: space-between;
            
            * {
                font-size: 20px; 
            } button {
                cursor:pointer; 
                border: unset; 
                outline:unset; 
                display:flex; 
                align-items:center; 
                gap: 10px; 
                background:unset; 
                svg {
                    width: 10px; 
                    height: auto; 
                } span.active {
                    transform: rotate(180deg);
                }
            } h3 {
                font-size: 22px; 
            }
        } .cards {
            margin-top: 15px; 
            display:flex; 
            flex-direction:column;
            gap: 20px; 
            .card:hover {
                background:$red3; 
                * {
                    color:white; 
                } .main {
                    .right {
                    
                    }
                    .left {
                        // filter: brightness(10.5);
                        border: 1px solid white; 
                        img {
                            object-fit: cover;
                        }
                    }
                    .center {
                        .detail {
                            span {
                                background: $red1; 
                            }
                        } .location {
                            svg {
                                filter: brightness(10.5);
                            }
                        }
                    }
                }
            }
            .card {
                box-shadow: 0 0 5px #eee;
                padding: 20px;
                border-radius: 10px;
                display:flex; 
                justify-content: space-between;
                align-items:center; 
                .main {
                    display:flex; 
                    gap: 30px;
                    align-items:center;
                   
                    .right {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: flex-end;
                        gap: 10px;

                        a {
                            padding: 5px 10px; 
                            display:inline-block; 
                            background: $red3; 
                            color:white; 
                            border-radius: 7px; 

                        }
                    } .right {
                    
                    }
                    .left {
                        img {
                            width: 100px; 
                            height: auto; 
                        }
                    } .center {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        h3 {
                            font-size: 22px; 
                        } .detail {
                            span {
                                padding: 3px 10px; 
                                background: $gray; 
                                
                            }
                        } .location {
                            svg {
                                width: 12px; 
                                height: auto; 
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1400px) {
    .twolayer {
        .right.layer {
            width: 100%; 
            .search {
                .jobname {
                    input {
                        width: 90px; 
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .twolayer {
        .left {
            .cards {
                .card {
                    .main {
                        // flex-direction: column;
                        // justify-content: flex-start;
                        // align-items: flex-start;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 1100px) {
    .twolayer {
        .left {
            .cards {
                .card {
                    gap: 20px; 
                    .main {
                        .detail {
                            flex-wrap: wrap;
                            display: flex;
                            gap: 15px;
                        }
                    } 
                }
            }
        }
    }

}

@media screen and (max-width: 1050px) {
    .twolayer {
        .left {
            .cards {
                .card {
        
                    .right {
                        width: 115px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1010px) {
    .twolayer.section {
        margin-top: 20px; 
        flex-direction: column;
        .left {
            margin-top: unset;
            .job-found {
                * {
                    font-size: 22px; 
                }
            } .cards {
                .card {
                    .main {
                        .left {
                            margin-top: unset; 
                        }
                    }
                }
            }
        }
        .right.layer {
            .menu {
                background:white; 
                padding: 20px 0;
            }
            .search {
               
                .jobname, 
                .location {
                    flex: 1; 
                    input,select {
                        padding: unset;
                        font-size: 14px;
                        flex:1;
                    } svg {
                        width: 21px; 
                    }
                } button {
                    font-size: 14px;

                }
            }
            .component {
                h3 {
                    font-size: 25px; 
                } img {
                    width: 50px; 
                }
            }
            width: 100%; 
            .menu.related {
                display:none; 
            }

            .menu:last-child {
                
                flex: 1; 
                padding: 20px 0; 
            }
        }
    }
}





@media screen and (max-width: 785px) {
    .pagination {
        svg {
            width: 16px;
            height: auto;
        }
        .numbers {
            span {
                font-size: 16px;
            }
        }
    }
    .twolayer {
        .left {
            margin-top:10px;
            .cards {
                margin-top:unset;
                .card {
                    .main {
                        gap: 20px; 
                    }
                }
            }
        } .right.layer {
            .search {
                button {
                    font-size: 14px; 
                } .location {
                    select {
                        font-size: 14px; 
                    }
                } .jobname {
                    svg {
                        width: 21px; 
                    }
                }
            }
        }
    }

    .mobilemode.section {
        padding-top: unset; 
        padding-bottom: 20px;
    }
    .mobilemode {
        padding-top: unset; 
        display:flex; 
        flex-direction:column;
        margin-top: 75px; 
    } .twolayer.section {
        margin-top: unset; 
    }

}


@media screen and (max-width: 600px) {
    .twolayer {
        .left {
            .cards {
                .card {
                    flex-direction:column;
                    align-items:flex-start; 
                    .right {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        justify-content: space-between;
                    }
                }
            }
        }
    }

}


@media screen and (max-width: 590px) {

    .nodata {
        img {
            width: 100%; 
        }
    }
    .pagination {
        .numbers {
            transform: translate(0, -3px);
            span {
                cursor: pointer;
                font-size: 13px;
                display: inline-block;
                width: 25px;
                height: 25px;
                display: -ms-grid;
                display: grid;
                place-content: center;
                border-radius: 50%;
            }
        }
    }
    .twolayer.section {
        .left {
            margin-top : 10px;
            .job-found {
                * {
                    font-size: 17px;
                }
            }

            .cards {
                .card {
                    .right {
                        * {
                            font-size: 11px; 
                        }
                    }
                    .main {
                        gap: 15px; 
                        .left {
                            img {
                                width: 80px 
                            }
                        }
                        .center {
                            h3 {
                                font-size: 16px; 
                            } .detail {
                                span {
                                    font-size: 11px; 
                                }
                            } .location {
                                span 
                                {
                                    font-size: 11px; 
                                } svg {
                                    width: 8px; 
                                    height: auto; 
                                }
                            }
                        }
                    }
                }
            }
        }
        .right.layer {
            .menu:last-child {
                flex-direction: column;
                align-items:flex-start;
                justify-content: flex-start;
            }
            .component {
                h3 {
                    font-size: 20px; 
                } img {
                    width: 40px; 
                }
            }
            .search {
                margin-top: 25px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                .jobname,
                .location {
                    input, select {
                        font-size: 13px; 
                    } svg {
                        width: 15px; 
                    }
                }
                button {
                    // position: absolute;
                    // border-radius: 30px; 
                    // transform: translate(0px, 60px);
                    // left: 0;
                    // right: 0;
                    // width: 93%;
                    // margin: auto;
                    // font-size: 13px;
                    font-size: 12px; 
                }
            }
        }
    }

}