@import './main';
.banner-hero {
    h1 {
        font-weight: bold;

    }
}

.plan__container.section {
    padding-bottom: 40px; 
    .components {
        .section__header {
            font-weight: bold; 
        }
    }
}

footer.section  {
    margin-top: 120px; 
    .footer__container {
        padding-top: 45px; 
        margin-bottom: 34px;
    
    }
}

@media screen and (max-width: 1200px) {
    footer.section {
        margin-top: 60px;
    }

}

@media screen and (max-width: 785px) {
    footer.section  {
        margin-top: 55px; 
        .footer__container {
            padding-top: unset; 
            margin-bottom: 34px;
        
        }
    }

}


@media screen and (max-width: 550px) {
    footer.section {
        margin-top: 40px;
    }

}


.carousel-bod {
    display:flex; 
    justify-content: space-evenly; 
    align-items:center;
    margin-top: 80px; 
    .carousel {
        overflow:unset; 
        width: 55%; 
        // perspective: 900px;
        perspective: unset;
        .carousel-item > img {
            width: 150%;
            margin-left: -50px;
            margin-top: -110px; 
            border-radius: 20px; 
            
        } .carousel-item {
            padding: 10px;
        }
    
        .carousel-item.active {
            img {
                transition: all 500ms ease 0s;
            }
        }
    
        // .carousel-item.active > img:hover {
        //     transform: rotateX(44deg);
        // }
    }
    
    .bod-info {
        
        margin-top: 270px;
        margin-top: -40px; 
        width: 460px; 
        padding: 40px 20px 20px 20px;
        background-image: url('../webp/component5.webp');
        background-position:325px -40px;
        background-size: 350px;
        background-repeat: no-repeat;
        border-radius: 30px;
        box-shadow: 0px 12px 9px #ccc;

        p {
            line-height: 2;
            font-size: 16px; 
            margin-top: 15px; 
            
        } h5 {
            background: $red1; 
            display: inline-block;
            padding: 5px 30px 2px 5px;
            border-radius: 0 50px 50px 0;
            color:#eee;
            font-size: 20px;
            margin: unset;
            margin-top: 15px; 
        } h3 {
            font-size: 28px; 
            font-weight:bold;
            margin:unset;
        }

        .menu-button {
            margin-top: 15px; 
            display:flex;
            justify-content:center; 
            align-items:center; 
            gap: 10px; 
            button {
                cursor: pointer;
                width: 40px; 
                height: 40px; 
                background:white; 
                border-radius: 50%;
                box-shadow: 0px 5px 5px #ddd;
                border:unset;
                outline:unset;
                background: $red3; 
                display:flex; 
                justify-content: center;
                align-items: center;
                padding:unset;
                svg {
                    width: 12px; 
                    height: 12px; 
                }
            }
        }
    }
}

@media screen and (max-width: 1890px) {
    .carousel-bod {
        .carousel {
            perspective: 5000px;
        }
    }
}

@media screen and (max-width: 1780px) {
    .carousel-bod {
        .carousel {
            perspective: 2000px;
        }
    }
}

@media screen and (max-width: 1670px) {
    .carousel-bod {
        .carousel {
            perspective: 1200px;
        }
    }
}

@media screen and (max-width: 1560px) {
    .carousel-bod {
        .carousel {
            perspective: 800px;
        }
    }
}


@media screen and (max-width: 1440px) {
    .carousel-bod {
        .carousel {
            perspective: 500px;
        }
    }
}

@media screen and (max-width: 1340px) {
    .carousel-bod {
        justify-content:center;
        margin-top: unset; 
        .carousel {

        }
    }

}

@media screen and (max-width: 1250px) {
    .carousel-bod {
        .bod-info {
            width: 360px; 
            border-radius: 10px;
            background-position: 283px -9px;
            background-size: 213px;
            h3 {
                font-size: 23px; 

            } h5 {
                font-size: 18px; 
            } p {
                font-size: 14px; 
            }
        }
        .carousel {
            .carousel-item > img {
                width: 120%; 
                margin-top: -65px; 
                margin-left: 0; 
            }
        }
    }

}

@media screen and (max-width: 1100px) {
    .carousel-bod {
        justify-content: space-evenly;
        .carousel {
            perspective: 400px; 
        }
    }

}

@media screen and (max-width: 1000px) {
    .carousel-bod {
        .carousel {
            perspective: 250px;
        }
    }
}

@media screen and (max-width: 870px) {
    .carousel-bod {
        margin-top: -35px;
        .carousel {
            perspective: 200px;
            .carousel-item > img {
                width: 100%; 
                margin-top: -50px;
            }
        }

        .bod-info {
            width: 320px; 
            background-position: 250px 0px;
            background-size: 198px;
            h5 {
                font-size: 15px; 
            } h3 {
                font-size: 21px;
            } p {
                font-size: 13px; 
            }
        }
    }

}

@media screen and (max-width: 785px) {
    .carousel-bod {
        flex-direction:column;
        .carousel {
            perspective: unset; 
        }
        .bod-info {
            width: 100%; 
            background-position: 121% -8px;
            background-size: 198px;
            box-shadow: 0 0 8px #ccc;
            border-radius: unset; 
            margin-top: -69px;
        }
    }

}

@media screen and (max-width: 415px) {
    .carousel-bod {
        .bod-info {
            background-position: 161% -8px;
        }
    }

}

@media screen and (max-width: 360px) {
    .carousel-bod {
        .bod-info {
            background-position: 200% -8px;
        }
    }

}

// Materalize option
@media only screen and (min-width: 993px) {
    .container {
        width: unset;
    }
}

@media only screen and (min-width: 601px) {
    .container {
        width: unset;
    }
}

@media only screen and (min-width: 250px) {
    .container {
        width: 100%;
    }
}
@media only screen and (min-width: 0px) {
    .container {
        width: 100%;
    }
}