@import './main';


$color_1: white;
$color_2: var(--cardColor);
$font-family_1: sans-serif;
$background-color_1: var(--cardColor);
.text-center {
    text-align:center; 
    margin:auto; 
    display:flex !important; 
} .bold {
    font-weight: bold; 
}

.missionvalues {
    p.visidsi {
        margin-top: 50px; 
        font-size: 18px; 
        font-weight: bold ;
        text-align:center; 
        line-height: 2; 
        color: #333;
    } .misi-item {
        margin-top: 50px;
        column-gap: 50px;
        row-gap: 30px;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        .separate {
            display:grid; 
            grid-template-columns: 50px 1fr;

            .text {
                font-size: 18px;
                line-height: 2;
            } h1 {
                font-size: 35px; 
            }
        }
    }
}

footer.section  {
    margin-top: 100px; 
    .footer__container {
        padding-top: 45px; 
        margin-bottom: 34px;
    
    }
}

@media screen and (max-width: 785px) {
    footer.section  {
        margin-top: 60px; 
        .footer__container {
            padding-top: unset; 
            margin-bottom: 34px;
        
        }
    }

}


@media screen and (max-width: 960px) {

    .misiul {
        font-size: 16px; 
    }

}

.missionvalues {
    margin-top: 50px; 
    padding: 0 90px; 
    



}



.cards {
    margin-top: 50px; 
    display: flex;
    flex-direction: column;
    background:black;
    color:white;
      .card::before {
            content: ''; 
            left: 0; 
            top: 0; 
            right: 0; 
            bottom: 0; 
            background:rgba(0, 0, 0, 0.5); 
            position:absolute; 
        }
    .card.c1 {background-image: url('../webp/hero1.webp'); }
    .card.c2 {background-image: url('../webp/hero2.webp'); }
    .card.c3 {background-image: url('../webp/hero3.webp'); }
    .card.c4 {background-image: url('../webp/hero4.webp'); }
    .card.c5 {background-image: url('../webp/hero5.webp'); }
        $time: 500ms;
    .card.unhover-transition {
        .card-body {
            transition: 
            opacity $time ease 0s,
            width $time ease $time;
        }
    } 

    .card.hover-transition {
        .card-body {
            transition: 
        opacity $time ease $time,
        width $time ease 0s;
        }
    }

    .card {
        display: flex;
        flex-direction:row;
        justify-content:flex-end;
        align-items:center; 
        padding: 30px;
        gap: 10px;
        height: 110px;
        transition: 
        opacity 1s ease 1s,
        width 1s ease 0s;
        
        background-size: cover; 
        position:relative; 
        background-position: center center;

       
      
        &-header {
            flex:1; 
            display: flex;
            align-items: center;
            gap: 8px;
            h2 {
                font-size: 30px; 
            } svg {
                width: 40px;
                height: 40px;
            }
            position:relative; 
            z-index: 1;
        } &-body {
            width: 800px; 
            // height: 53px; 
            // width: 0; 
            // opacity: 0; 
       

    
            p {
                text-align:left;
                font-size: 18px; 
            }
            position:relative; 
            z-index: 1;
        } 
    } 
    
    // .card:hover {
    //     .card-body {
    //         height: unset; 
    //         opacity: 1; 
    //         width: 800px; 
    //     }
    // }


    // cards
    
 }

@media screen and (max-width: 1440px) {
    .visi {
        padding: 80px 0 40px;
        .inner-box {
            svg {
                width: 40px; 
                height: 40px; 
            } h5 {
                font-size: 28px; 
            } p {
                font-size: 18px; 
            }
        }
    }
}


@media screen and (max-width: 1200px) {
    .cards {
        .card {
            &-header {
                h2 {
                    font-size: 26px; 
                }
            } &-body {
                width: 640px;
                p {
                    text-align: left;
                    font-size: 18px;
                    // border: 2px solid white;
                    width: unset;
                }
            }
        }
    }
    .olcards li::before {
        font-size: 1.5em;
        width: 40px; 
        height: 70px; 

    } .olcards li {
        width: 49%; 
    } .olcards li .content .text {
        font-size: 14px; 
    }
}

 
 @media screen and (max-width: 1100px) {
    .missionvalues {
        margin-top: 50px; 
        padding: 0 50px; 

        p.visidsi {
            margin-top: 50px; 
            font-size: 18px; 
            font-weight: bold ;
            text-align:center; 
            line-height: 2; 
            color: #333;
        } .misi-item {
            margin-top: 50px;
            column-gap: 30px;
            row-gap: 30px;
            display:grid;
            grid-template-columns: repeat(2,1fr);
            .separate {
                display:grid; 
                grid-template-columns: 40px 1fr;
    
                .text {
                    font-size: 18px;
                    line-height: 2;
                } h1 {
                    font-size: 35px; 
                }
            }
        }
        
    }


    
    
 
 }

 @media screen and (max-width: 1000px) {

    .missionvalues {
        margin-top: 50px; 
        padding: 0 50px; 

        p.visidsi {
            margin-top: 50px; 
            font-size: 16px; 
            font-weight: bold ;
            text-align:center; 
            line-height: 2; 
            color: #333;
        } .misi-item {
            margin-top: 50px;
            column-gap: 30px;
            row-gap: 30px;
            display:grid;
            grid-template-columns: repeat(2,1fr);
            .separate {
                display:grid; 
                grid-template-columns: 40px 1fr;
    
                .text {
                    font-size: 16px;
                    line-height: 2;
                } h1 {
                    font-size: 28px; 
                }
            }
        }
        
    }

     .cards {
         .card {
             gap: 15px; 
             height: 130px; 
             &-header {
                 h2 {
                     font-size: 24px; 
                 }
             }
             &-body {
                width: 440px;
                p {
                    font-size: 15px; 
                }
             }
         }

        //  .card:hover {
        //      .card-body {
        //         width: 440px;
        //      }
        //  }
     
     }
 
 }


//  @media screen and (max-width: 975px) {
//      .missionvalues {
//          .olcards {
//              margin-top: 50px; 
//              gap: 11px
//          } .olcards li {
//              margin-top: 16px; 
//          } .olcards li::before {
//              font-size: 23px; 
//              transform: translate(0, -17px);
//              margin-right: -16px;
//              padding-inline: 16px; 
//              width: 50px; 
//              height: 80px; 
//              flex: 0 0 50px; 
//              box-shadow: -8px 6px 5px gray; 
//          } .olcards li .content {
//             padding: 10px 30px;
//             gap:unset; 
//          } .olcards li .content::after {
//             width: 18px;
//             height: 40px;
//          } .olcards li .content .text {
//              font-size: 15px; 
//          }
//      }
 
//  }



@media screen and (max-width: 1000px) {
    .missionvalues {
        .olcards {
            margin-top: pxToVw(50, 1000); 
            gap: pxToVw(11, 1000)
        } .olcards li {
            margin-top: pxToVw(16, 1000); 
        } .olcards li::before {
            font-size: pxToVw(23, 1000); 
            transform: translate(0, -pxToVw(17, 1000));
            margin-right: -pxToVw(16, 1000);
            padding-inline: pxToVw(16, 1000); 
            width: pxToVw(40, 1000); 
            height: pxToVw(70, 1000); 
            flex: 0 0 pxToVw(50, 1000); 
            // box-shadow: pxToVw(-8, 1000) pxToVw(6, 1000) pxToVw(5, 1000) gray; 
        } .olcards li .content {
           padding: pxToVw(10, 1000) pxToVw(30, 1000);
           gap:unset; 
        } .olcards li .content::after {
           width: pxToVw(18, 1000);
           height: pxToVw(40, 1000);
        } .olcards li .content .text {
            font-size: pxToVw(14, 1000); 
        }
    }

}

@media screen and (max-width: 880px) {
    .visi {
        padding: 80px 0 40px;
        .inner-box {
            svg {
                width: 40px; 
                height: 40px; 
            } h5 {
                font-size: 23px; 
            } p {
                font-size: 15px; 
            } svg:first-child {
                left: -50px;
                top: -26px;
            }
        }
    }
}


 @media screen and (max-width: 785px) {

    .missionvalues {
        margin-top: 50px; 
        padding: 0 50px; 

        p.visidsi {
            margin-top: 30px; 
            font-size: 16px; 
            font-weight: bold ;
            text-align:center; 
            line-height: 2; 
            color: #333;
        } .misi-item {
            margin-top: 30px;
            column-gap: 30px;
            row-gap: 30px;
            display:grid;
            grid-template-columns: 1fr;
            .separate {
                display:grid; 
                grid-template-columns: 40px 1fr;
    
                .text {
                    font-size: 16px;
                    line-height: 2;
                } h1 {
                    font-size: 28px; 
                }
            }
        }
        
    }

  
    .visi {
        padding: 50px 0 40px;
        .inner-box {
            svg {
                width: 25px; 
                height: 25px; 
            } h5 {
                font-size: 20px; 
                text-align: left; 
            } p {
                font-size: 13px; 
                margin-top: 20px; 
            
            } svg:first-child {
                left: -39px;
                top: -20px;
            }
        }
    }

    .missionvalues {
        padding: 0 20px;
        .olcards {
             margin-top: 50px; 
             gap: 11px;
             flex-direction:column; 
         } .olcards li {
             margin-top: 16px; 
             width: 100%; 
         } .olcards li::before {
             font-size: 23px; 
             transform: translate(0, -17px);
             margin-right: -16px;
             padding-inline: 16px; 
             width: 50px; 
             height: 80px; 
             flex: 0 0 50px; 
             box-shadow: -8px 6px 5px gray; 
         } .olcards li .content {
            padding: 10px 30px;
            gap:unset; 
         } .olcards li .content::after {
            width: 18px;
            height: 40px;
         } .olcards li .content .text {
             font-size: 14px; 
         }
     }


     .missionvalues.mv1 {
        margin-top: 72px;
    }
 
     .cards {
        // padding: 0 20px;
        background: unset;
         .card {
             flex-direction:column; 
             justify-content: center;
             align-items: center;
             height: 320px; 
             .card-header {
                 flex: unset; 
                 h2 {
                     font-size: 20px; 
                 } svg {
                     width: 20px; 
                     height: 20px; 
                 }
             }
             //
             .card-body {
                 width: unset; 
                 height: unset; 
                 opacity: 1; 

                 p {
                     text-align: center;
                     font-size: 14px; 
                 }
             }
         } 
         
        //  .card:hover {
        //      .card-body {
        //          width: unset; 
        //      }
        //  }
     }

 }

 @media screen and (max-width: 550px) {
     .missionvalues {
         .olcards li::before {
             width: 30px; 
             height: 60px; 
             flex: 0 0 30px; 
             font-size: 17px; 
             margin-right: -20px;
         } .olcards li .content .text {
             font-size: 13px; 
         }

         p.visidsi {
            font-size: 14px; 
        } .misi-item {
            row-gap: 15px; 
            .separate {
                h1 {
                    font-size: 21px; 
                }
                .text {
                    font-size: 14px;
                    line-height: 2;
                } 
            }
        }


     }  .misiul {
        font-size: 13px; 
    }

     .visi {
        padding: 75px 0 40px;
         .inner-box {
             width: 90%; 
             svg:first-child {
                left: 0px;
                top: -35px;
             }
         }
     }
 
 }

$size: 400;
@media screen and (max-width: $size + 'px') {
    .missionvalues {
        padding: 0 pxToVw(20, $size);
        .olcards {
             margin-top: pxToVw(50, $size); 
             gap: pxToVw(11, $size);
             flex-direction:column; 
         } .olcards li {
             margin-top: pxToVw(16, $size); 
             width: 100%; 
         } .olcards li::before {
             font-size: pxToVw(17, $size); 
             transform: translate(0, pxToVw(-17, $size));
             margin-right: pxToVw(-20, $size);
             padding-inline: pxToVw(16, $size); 
             width: pxToVw(30, $size); 
             height: pxToVw(60, $size); 
             flex: 0 0 pxToVw(30, $size); 
             box-shadow: pxToVw(-8, $size) pxToVw(6, $size) pxToVw(5, $size) gray; 
         } .olcards li .content {
            padding: pxToVw(10, $size) pxToVw(30, $size);
            gap:unset; 
         } .olcards li .content::after {
            width: pxToVw(18, $size);
            height: pxToVw(40, $size);
         } .olcards li .content .text {
             font-size: pxToVw(13, $size); 
         }
     }


}


@media screen and (max-width: 400px) {
    .missionvalues {
        p.visidsi {
            font-size: 12px; 
        } .misi-item {
            .separate {
                h1 {
                    font-size: 18px;
                }
                .text {
                    font-size: 12px;
                    line-height: 2;
                } 
            }
        }
    }

}