@import './main';
@import './news.scss';

.container {
    overflow:unset; 
} .news.section {
    overflow:unset; 
}

footer.section  {
    margin-top: 100px; 
    .footer__container {
        padding-top: 45px; 
        margin-bottom: 34px;
    
    }
}
@media screen and (max-width: 1100px) {
    footer.section {
        margin-top: 60px;
    }

}
@media screen and (max-width: 785px) {
    footer.section  {
        margin-top: 55px; 
        .footer__container {
            padding-top: unset; 
            margin-bottom: 34px;
        
        }
    }

}

@media screen and (max-width: 550px) {
    footer.section {
        margin-top: 40px;
    }

}

header {
    .nav-bar {
        .logo {
            img {
                filter: unset; 
            }
        } .navigation {
            li:nth-child(1), 
            li:nth-child(2) {
                .sub-menu.active {
                    bottom: -142px;
                }
            }
            li:nth-child(3) {
                .sub-menu.active {
                    bottom: -107px;
                }
            }
            li {
                svg {
                    filter: brightness(0);
                } 

                .sub-menu {
                    background:white; 
                    border-radius: 0 0 30px 30px; 
                    a {
                        color:black; 
                        svg {
                            filter: brightness(0);
                        }
                    }
                }
             
               
            }
        }
    }
    background:white; 
    backdrop-filter: unset;
    // background-image: linear-gradient(-180deg, $red1, $red2, $red3);
    * {
        color:#333; 
    }
}
.news {
    .layer:last-child {
        .menu.mysosmed {
            // position: sticky; 
            // top: 90px; 
        }
        .menu.mynews {
            position: sticky; 
        top: 120px; 
        .content {
            .popular-new {
                .detail {
                    h3 {
                        border-radius: 30px;
                    }
                }
            }
        }
        .search {
            button {
                padding: 5px 10px; 
            }
        }
         
        }
    }
    .layer:first-child {
        display:flex; 
        flex-direction: column;
        gap: 30px; 
        .articles {
            display:flex; 
            flex-direction:column; 
            gap: 30px; 
            img {
                width: 100%; 
                object-fit: cover;
            }

            &-cover {
                height: 510px; 
            } p {
                font-size: 16px; 
                line-height: 2;
            } 
            .component {
                display:flex; 
                align-items: center;
                gap:10px; 
                img {
                    width: 50px; 
                }
            }
            h3 {
                font-size: 24px; 
            } ul li {
                font-size: 16px; 
                line-height: 2
            } ul {
                margin-left: 45px; 
                list-style: disc;
            } .twolayer {
                display:flex; 
                justify-content: space-between;
                gap: 40px; 
                &-description {
                    display:flex; 
                    flex-direction:column;
                    gap: 30px; 
                }
                
                img {
                    
                    height: 400px; 
                }
            }
        }
        .tags {
            .header {
                h3 {
                    font-size: 24px; 
                }
                margin-bottom: 20px; 
            }
            a {
                display:inline-block; 
                padding: 3px 6px; 
                border-radius: 30px; 
                border: 1px solid $red3; 
                color: $red3; 
            } a:hover {
                background: $red3; 
                color:white; 
            }
        } .author-info {
            .twolayer {
                gap: 40px;
                padding: 40px;
                background: whitesmoke;
                display:flex; 
                align-items:center; 
                img {
                    width: 170px; 
                } .detail {
                    display:flex; 
                    flex-direction:column;
                    gap: 10px; 
                    h2 {
                        font-size: 24px; 

                    } p {
                        font-size: 16px; 
                    } .sosmed {
                        margin-top: 10px; 
                        display:flex; 
                        align-items: center;
                        gap: 10px; 
                        svg {
                            width:20px; 
                            height: auto; 
                            filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(289deg) brightness(93%) contrast(92%);
                        }
                    }
                }
            }
        } .others {
            display:flex; 
            gap: 30px; 
            align-items: center;
            .box {
                border-radius: 10px; 
                border: 1px solid gray;
                padding: 30px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                .header {
                    display:flex; 
                    align-items: center;
                    justify-content:flex-start;
                    margin-bottom:unset; 
                } h3 {
                    font-size: 22px; 
                }
            } .apps-icon {
                svg {
                    $dimension: 30px; 
                    width: $dimension; 
                    height: $dimension; 
                }
            }
        }
      
        .description {
            position: relative;
            z-index: 1; 
            padding: 20px 0;
            h6 {
                padding: 3px 10px; 
                background: $red3;
                display: inline-block;
                color:white; 
            } h1 {
                font-size: 40px; 
            }   .contact {
                margin-top: 20px; 
                display:flex; 
                justify-content: space-between;
                $dimension: 40px;
                $svg      : 25px; 
                .email {
                    width: $dimension;
                    height: $dimension;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $darkgray;
                    svg {
                        width: $svg; 
                        height: $svg;
                    }
                }
                .sosmed {
                    display:flex; 
                    gap: 10px; 
                    a:first-child {background-color:#3b5998}
                    a:nth-child(2) {background-color:#bd081c}
                    a:nth-child(3) {background-color:#5851db}
                    a:nth-child(4) {background-color:#0077b5}
                    a {
                        width: $dimension;
                        height: $dimension;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg {
                            width: $svg; 
                            height: $svg;
                        }
                    }
                }
            }
           
            .detail {
                display: flex;
                align-items: center;
                gap: 15px; 
                height: 30px; 
                span {
                    font-size: 14px; 
                }
                &-date,
                &-views {
                    display:flex;
                    align-items: center;
                    gap: 5px;
                    .icon {
                        svg {
                            filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(289deg) brightness(93%) contrast(92%);
                            width: 25px; 
                        }
                    }
                }
            }
        } 
    }
}

@media screen and (max-width: 1730px) {
    .news {
        .layer:first-child {
            .articles {
                .twolayer {
                    gap: 10px; 
                    img {
                        height: 300px; 
                        object-fit:cover; 
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 1680px) {
    .news {
        .layer:first-child {
            .description {
                h1 {
                    font-size: 35px; 
                }
            }
        }
    }

}




@media screen and (max-width: 1370px) {
    .news.section {
        flex-direction:column;

        .layer:last-child {
            .menu.mynews {
                display:grid; 

                column-gap: 25px;
                grid-template-columns: 1fr 65%;
                grid-template-areas: 
                'header header search'
                'boxs boxs tag';
                .header {
                    grid-area:header; 
                } .search {
                    grid-area: search; 
                } .content {
                    grid-template-columns: repeat(3,1fr);
                    grid-area: boxs;
                } .tag-menu {
                    margin-top: unset; 
                    grid-area: tag; 
                }
            }
        }
    }

}

@media screen and (max-width: 1100px) {
    .news.section {
        margin-top: 50px; 
        .layer:first-child {
            .articles {
                .twolayer {
                    display:grid; 
                    grid-template-columns:repeat(2, 1fr);
                }
            }
        }
    }
}


@media screen and (max-width: 950px) {
    .news.section {
        flex-direction:column;

        .layer:last-child {
            .menu.mynews {
                display:grid; 

                column-gap: 25px;
                grid-template-columns: 1fr 61%;
                grid-template-areas: 
                'header header search'
                'boxs boxs tag';
                .header {
                    grid-area:header; 
                } .search {
                    grid-area: search; 
                } .content {
                    grid-template-columns: repeat(2,1fr);
                    grid-area: boxs;
                    .popular-new:nth-child(5), 
                    .popular-new:nth-child(6) {
                        display:none; 
                    }
                } .tag-menu {
                    grid-area: tag; 
                }
            }
        }
    }
}

@media screen and (max-width: 890px) {
    .news.section {
        .layer:first-child {
            .articles {
                .twolayer {
                    grid-template-columns: 1fr; 
                }
            }
        }
    }
}


@media screen and (max-width: 785px) {




 .news.section {
        flex-direction:column;
        .layer:first-child {
            .others {
                .box {
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    padding: 15px;
                    flex: 1;
                    gap: 20px;
                    h3 {
                        display:none; 
                    } .header {
                        span {
                            font-size: 13px; 
                        }
                    }
                }
            }
            .tags {
                .header {
                    h3 {
                        font-size: 22px; 
                    }
                } a {
                    font-size: 14px; 
                }
            } .author-info {
                .twolayer {
                    flex-direction:column; 
                    text-align:center; 
                    padding: 20px; 
                    img {
                        width: 150px; 
                    }
                    .detail {
                        justify-content: center;
                        align-items: center;
                        h2 {
                            font-size: 22px; 
                        } p {
                            font-size: 14px; 
                        }
                    }
                }
            }
            .articles {
                ul {
                    margin-left: 20px; 
                }
                img {
                    height: 350px; 

                } .component {
                    img {
                        height: auto; 
                        width: 40px; 
                    } h3 {
                        font-size: 22px; 
                    }
                } p, ul li {
                    font-size: 14px; 
                }
            }
            .description {
                h1 {
                    font-size: 28px; 
                } .detail {
                    span {
                        font-size: 12px; 
                    }
                } .detail-date,
                .detail-views {
                    .icon {
                        svg 
                        {
                            width: 18px; 
                        }
                    }
                } .contact {
                    .email {
                        width: 30px; 
                        height: 30px; 
                        svg {
                            width: 20px; 
                            height: 20px; 
                        }
                    }
                    .sosmed {
                        a {
                            width: 30px;
                            height: 30px;
                            svg {
                                width: 20px; 
                                height: 20px; 
                            }
                        }
                    }
                }
            }
        }
        .layer:last-child {
            .header {
                h3 {
                    font-size: 23px; 
                }
            }
            .menu.mynews {
                display:grid; 

                column-gap: 25px;
                grid-template-columns: 1fr;
                grid-template-areas: 
                'header header search'
                'boxs boxs boxs'
                'tag tag tag';
                .header {
                    grid-area:header; 
                } .search {
                    gap: 5px; 
                    grid-area: search; 
                    padding-left: 20px; 
                    padding-right: 20px; 
                    input {
                        font-size: 13px;
                        width: 104px; 
                    }
                    label {
                        transform: translate(-6px, 4px);
                    } button {
                        font-size: 12px; 
                    }
                } .content {
                    justify-content: center;
                    grid-template-columns: repeat(2, 245px);
                    grid-area: boxs;
                    .popular-new:nth-child(5), 
                    .popular-new:nth-child(6) {
                        display:none; 
                    } .popular-new {
                        .detail {
                            h1 {
                                font-size: 16px; 
                            }
                        }
                    }
                } .tag-menu {
                    grid-area: tag; 
                    .tags {
                        a {
                            font-size: 13px; 
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {

 .news.section {
        margin-top: 35px; 
        flex-direction:column;

        .layer:first-child {
            .others {
                .box {
                    h3 {}
                    .header {
                        span {
                            font-size: 12px; 
                        }
                    }
                }
            } .tags {
                .header {
                    h3 {
                        font-size: 20px; 
                    } a {
                        font-size: 12px; 
                    }
                } .author-info {
                    img {
                        width: 130px; 
                    } .detail {
                        h2 {
                            font-size: 20px; 
                        } p {
                            font-size: 12px; 
                        }
                    }
                }
            } .articles {
                img {
                    height: 300px; 
                } .component {
                    img {
                        width: 30px; 
                    } h3 {
                        font-size: 20px; 
                    }
                } p, ul li {
                    font-size: 12px; 
                }
            } .description {
                h1 {
                    font-size: 24px; 
                } .detail {
                    span {
                        font-size: 11px; 
                    }
                } .detail-date,
                .detail-views {
                    .icon {
                        svg {
                            width: 16px; 
                        }
                    }
                } .contact {
                    .email {
                        width: 25px; 
                        height: 25px; 
                        svg {
                            width: 16px; 
                            height: 16px; 
                        }
                    } .sosmed {
                        gap: 5px; 
                        a {
                            width: 25px; 
                            height: 25px; 
                            svg {
                                width: 16px; 
                                height: 16px; 
                            }
                        }
                        
                    }
                }
            }
        }

        .layer:last-child {
            .menu.mynews {
                display:grid; 

                column-gap: 25px;
                grid-template-columns: 1fr;
                grid-template-areas: 
                'header header header'
                'search search search'
                'boxs boxs boxs'
                'tag tag tag';
                .header {
                    grid-area:header; 
                    h3 {
                        font-size: 20px; 
                    }
                } .search {
                    grid-area: search;
                    justify-content: space-between; 
                    input {
                        flex: 1; 
                        font-size: 12px; 
                    } button {
                        font-size: 11px; 
                    } label {
                        transform: translate(-6px, 2px);
                        svg {
                            width: 15px; 
                            height: 15px; 
                        }
                    }
                } .content {
                    grid-template-columns: repeat(2, 1fr);
                    grid-area: boxs;
                    .popular-new:nth-child(5), 
                    .popular-new:nth-child(6) {
                        display:none; 
                    } .popular-new {
                        .detail {
                            h1 {
                                font-size: 14px; 
                            }
                        }
                    }
                } .tag-menu {
                    grid-area: tag; 
                }
            }
        }
    }
}