@import './main';

.service-togglebox.section {
    padding:unset;
}


.p20 {
    padding: 20px; 
}

.service-togglebox {

    .boxs {
        // height: 500px; 
        // overflow:auto;
        .box {
            // padding: 20px;

            // border-top: 1px solid $red1;
            border-bottom: 1px solid $red1;
            .toggle {
                padding: 20px 20px 20px 0;
                display:flex; 
                justify-content: space-between;
                align-items:center;
                &-detail {
                    display:flex; 
                    align-items:center;
                    gap: 10px;
                    img {
                        width: 60px; 
                    } h2 {
                        font-size: 30px; 
                    
                    }
                }
            } .toggle-content {
                margin-top: 30px;
                .images {
                    position:relative;
                    .coverlogo {
                        width: 100%; 
                        height: 400px;
                        object-fit: cover;
                    } .icon {
                        padding: 5px 25px;
                        background:white; 
                        border-radius: 30px;
                        position: absolute;
                        right: 30px;
                        top: 30px; 
                        img {
                            width: 80px; 
                        }
                    }
                } 
                .gap {
                    background: $red3; 
                    padding: 20px; 
                    text-align:center; 
                    margin-top: -7px; 
                    position: relative;
                    color:white; 
                    h2 {
                        position: relative;
                        z-index: 1;
                        font-size: 30px; 
                        
                    } p {
                        position: relative;
                        z-index: 1;
                        font-size: 16px; 
                    } .background-image {
                        position:absolute; 
                        left: 0; 
                        top: 0; 
                        bottom: 0; 
                        right: 0; 
                        background-image: url('../dsi/component5.png');
                        background-size: 380px;
                        background-position: 0 -36px;
                    }
                } 
                .desc {
                    margin-top: 20px; 
                    h3 {
                        font-size: 26px; 
                        text-transform: capitalize;
                        
                    } p {
                        line-height: 2;
                        font-size: 16px; 
                       
                    } .component {
                        display:flex; 
                        align-items:center;
                        gap: 20px;
                        $gap: 45px; 
                        margin-bottom: $gap;
                        margin-top: $gap; 
                        .image-title {
                            width: 90px;
                        } 
                    }
                } 
                .icon-boxs {
                    
                    display: grid;
                    grid-template-columns: repeat(3, 360px);
                    gap: 40px;
                    justify-content: space-evenly;
                    .icon-box {
                        position:relative;
                        border-radius: 3px;
                        background: $red3; 
                        box-shadow: 0 0 5px #aaa;
                        padding: 30px 20px;
                        display:grid; 
                        grid-template-columns: 50px 1fr;
                        gap: 10px;
                        border-radius: 26px;
                        overflow: hidden;
                        .background-image {
                            position:absolute;
                            background-image:url('../dsi/component5.png');
                            background-size: 529px;
                            background-position: -26px 73px;
                            color:white;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            right: 0;
                        }
                        .icon {
                            position:relative;
                            z-index: 2;
                            svg {
                                width: 50px; 
                                height: 50px; 
                                filter: brightness(1) invert(1);
                            }
                        } .detail {
                            position:relative;
                            z-index: 2;
                            color:white; 
                            h3 {
                                font-size: 18px;
                            } p {
                                font-size: 16px;
                                line-height: 2;
                            }
                        }
                    }
                }  
                .timeline::before {
                    content: ''; 
                    position: absolute;
                    left: 0;
                    right: 0;
                    height: 2px; 
                    background: $red1;
                }  
                .timeline {
                    background: whitesmoke;
                    position: relative;
                    
                    display: flex;
                    justify-content: space-evenly;
                    // gap:40px;
                    height: 600px;
                    align-items: center;
                    $gap: 150px;
                    .timeline-box:nth-child(odd) {
                        transform: translate(0, -$gap);    
                        flex-direction:column-reverse;
                    } .timeline-box:nth-child(even) {
                        
                        transform: translate(0, $gap);
                        flex-direction:column;    
                    }
                    .timeline-box::after {
                        content: ''; 
                        width: 20px; 
                        height: 20px; 
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: -85px;
                        background: $red3;
                        border-radius: 50%;
                    } .timeline-box:nth-child(even)::after {
                        bottom: unset; 
                        top: -85px;
                    }
                    .timeline-box::before {
                        content: ''; 
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: -85px;
                        height: 84px;
                        width: 2px; 
                        background: $red1;
                    } .timeline-box:nth-child(even)::before {
                        bottom: unset; 
                        top: -85px;
                    }
                    .timeline-box.edited {
                        transform: translate(0, -135px);
                    } .timeline-box.edited2 {
                        transform: translate(0, 135px);
                    }
                    .timeline-box {
                        position:relative; 
                        display:flex;
                        flex-direction:column;
                        width: 190px; 
                        text-align:center;
                        
                        .icon {
                            margin:auto;
                            background: $red3;
                            width: 80px; 
                            height: 80px; 
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            svg {
                                width: 30px; 
                                height: 30px; 
                                filter: brightness(1) invert(1);
                            }
                        } p {
                            font-size: 18px;
                        }
                    }

                   


                }
                .box-image {
                    padding: 30px; 
                    display:flex;
                    justify-content: space-between;
                    gap:20px;
                    align-items: center;
                    .detail {
                        width: 70%; 
                        p {
                            line-height: 2; 
                            font-size: 16px; 
                        }
                    } .maskimg {
                        overflow:hidden;
                        position:relative; 
                        img:first-child {
                            position:absolute; 
                            mix-blend-mode: lighten;
                            object-fit: cover;
                            height:400px;
                        }

                        img:first-child, 
                        img:last-child {
                            width: 300px;
                        }
                    }
                } .box-image.reverse {
                    flex-direction: row-reverse;
                }
               
            }
        } .box.closed {
            height: 90px; 
            overflow:hidden;
        }
    }
}


@media screen and (max-width: 1280px) {
    .service-togglebox {
        .boxs {
            .box {
                .arrow {
                    svg {
                        width: 17px;
                    }
                }
                .toggle-detail {
                    h2 {
                        font-size: 25px; 
                    }
                     img {
                         width: 50px;
                     }
                } .toggle-content {
                    .images {
                        .icon {
                            padding: 3px 20px;
                            img {
                                width: 60px; 
                            }
                        }
                        .coverlogo {
                            height: 380px; 
                        }
                    } .gap {
                        padding: 15px; 
                        h2 {
                            font-size: 26px; 
                        } p {
                            font-size: 15px; 
                        }
                    }
                    .timeline {
                        .timeline-box.edited {
                            transform: translate(0, -124px);
                        }
                        .timeline-box:nth-child(even) {
                            transform: translate(0, 138px);
                        } .timeline-box:nth-child(odd) {
                            transform: translate(0, -136px);
                        }
                       
                        .timeline-box {
                            width: 133px; 
                            .icon {
                                width: 65px; 
                                height: 65px;
                                svg {
                                    width: 25px; 
                                    height: 25px; 
                                }
                            } p {
                                font-size: 15px; 
                            }
                        } 
                    }

                    .gap {
                        margin-top: -10px;
                    }
                    .icon-boxs {
                        padding: 20px;
                        gap:20px;
                        grid-template-columns: repeat(3, 1fr);
                        .icon-box {
                            grid-template-columns: 60px 1fr;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .service-togglebox {
        .boxs {
            .box {
                .toggle {

                } .toggle-content {
                    .gap {
                        margin-top: -10px;
                    }
                    .icon-boxs {
                        padding: 20px;
                        gap:20px;
                        grid-template-columns: repeat(2, 1fr);
                        .icon-box {
                            grid-template-columns: 60px 1fr;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1000px) {
    .service-togglebox {
        .boxs {
            .box {
                .toggle-content {
                    .timeline {
                        height: 460px;
                        .timeline-box::after {
                            width: 13px; 
                            height: 13px; 
                        }
                        .timeline-box {
                            .icon {
                                width: 55px; 
                                    height: 55px; 
                                svg {
                                    width: 20px; 
                                    height: 20px;
                                }
                            } p {
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 785px) {
    .service-togglebox {
        .boxs {
            margin-top: 75px;
            .box.closed {
                height: 75px;
            }

            
            .box {
                .arrow {
                    svg {
                        width: 12px;
                    }
                }
                .toggle-detail {
                    h2 {
                        font-size: 22px; 
                    }
                     img {
                         width: 40px;
                     }
                } .toggle-content {
                    .images {
                        .coverlogo {
                            height: 320px; 
                        } .icon {
                            right: 20px;
                            top: 20px;
                            img {
                                width: 40px; 
                            }
                        }
                    } .gap {
                        padding: 12px; 
                        h2 {
                            font-size: 23px; 
                        } p {
                            font-size: 14px; 
                        }
                    }
                    .box-image,
                    .box-image.reverse {
                        flex-direction:column; 
                        .detail {
                            width: 100%; 
                            font-size: 15px; 
                             p {
                                 font-size: 15px; 
                             }
        
                        } .maskimg {
                            width: 100%; 
                            img:first-child, img:last-child {
                                width: 100%; 
                                height: 300px;
                            }
                        }
                    }
                    .desc {
                        p {
                            font-size: 15px; 
                        } h3 {
                            font-size: 23px; 
                            padding-right: 5px; 

                        } .component {
                            margin-bottom: 15px;
                            .image-title {
                                width: 65px;
                            }
                        }
                    }
                    .timeline {
                        .timeline-box.edited {
                            transform: translate(0, -116px);
                        }
                        .timeline-box:nth-child(even) {
                              transform: translate(0, 128px);
                        }
                        .timeline-box {
                          
                            .icon {
                                width: 45px; 
                                height: 45px; 
                                svg {
                                    width: 15px; 
                                    height: 15px; 
                                } 
                            } p {
                                font-size: 14px; 
                            }
                        }
                    }
                    .gap {
                        margin-top: -10px;
                    }
                    .icon-boxs {
                        padding: 20px;
                        gap:20px;
                        grid-template-columns: repeat(2, 1fr);
                        .icon-box {
                            display:flex; 
                            flex-direction:column;
                            justify-content: center;
                            align-items:center; 
                            gap:20px;
                            text-align:center;
                            .background-image {
                                background-size: 300px;
                                background-position: 17px 72px;
                            }
                            .icon {
                                width: 30px;
                                height: 30px;
                            }
                            .detail {
                                p {
                                    font-size: 14px; 
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 690px) {

    .service-togglebox {
        .boxs {
            .box {
                .toggle-content {
                    .timeline::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        top: 0;
                        width: 2px;
                        height: unset;
                        left: 50%; 
                        right: 0;
                        background: #C9313A;
                    }
                    .timeline {
                        flex-direction: column;
                        justify-content: center;
                        gap:20px; 
                        height: 500px; 
                        .timeline-box:nth-child(odd) {
                            
                            transform: translate(-100px, 0px);
                        } 
                        .timeline-box.edited {
                            transform:unset;
                        }
                        .timeline-box:nth-child(odd)::before {
                            content: '';
                            position: absolute;
                            left: 50%;
                            -webkit-transform: translateX(-50%);
                            transform: translateX(-50%);
                            bottom: 21px;
                            height: 2px;
                            width: 80px;
                            background: #C9313A;
                            left: 155px;
                        } .timeline-box:nth-child(odd)::after {
                            left: 195px;
                            bottom: 15px;
                        }
                        .timeline-box:nth-child(even) {
                            
                            transform: translate(100px, 0px);
                        } .timeline-box:nth-child(even)::before {
                            content: '';
                            position: absolute;
                            left: 50%;
                            -webkit-transform: translateX(-50%);
                            transform: translateX(-50%);
                            top: 21px;
                            height: 2px;
                            width: 80px;
                            background: #C9313A;
                            left: 33px;
                        } .timeline-box:nth-child(even)::after {
                            left: -6px;
                            top: 15px;
                        } .timeline-box {
                            width: 190px; 
                        }

                        
                    }

                    
                }
            }
        }
    }

}

@media screen and (max-width: 570px) {
   


    .service-togglebox {
        .boxs {
            .box {
                .toggle {

                } .toggle-content {
                    .gap {
                        margin-top: -10px;
                    }
                    .icon-boxs {
                        display: unset;
                        flex-direction: column;
                        padding: 20px;
                        gap:20px;
                        grid-template-columns: repeat(2, 1fr);
                        align-items:center;
                        .icon-box {
                            height: 210px;
                            margin:auto;

                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 30px;
                            text-align: center;
                            width: 90%;
                            .icon {
                                width: 30px;
                                height: 30px;
                            }
                            .detail {
                                p {
                                    font-size: 13px; 
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}


@media screen and (max-width: 691px) {
    .service-togglebox {
        .boxs {
            .box {
                .toggle-content {
                    .timeline {
                        height: auto; 
                        padding: 30px 0; 
                        .timeline-box {
                            width: 110px; 
                            p {
                                font-size: 12px; 
                            }
                        } .timeline-box:nth-child(odd) {
                            transform: translate(-90px, 0px);
                        } .timeline-box:nth-child(even) {
                            transform: translate(90px, 0px);
                        } .timeline-box:nth-child(odd)::before {
                            width: 70px; 
                            left: 110px; 
                        } .timeline-box:nth-child(odd)::after {
                            left: 145px; 
                        }  .timeline-box:nth-child(even)::before {
                            width: 70px; 
                            left: 0; 
                        } .timeline-box:nth-child(even)::after {
                            left: -34px; 
                        }
                    }
                }
            }
        }
    }

}



@media screen and (max-width: 520px) {
    .service-togglebox {
        .boxs {
            .box {
                .toggle-detail {
                    h2 {
                        font-size: 20px; 
                    }
                }
                .toggle-content {
                    margin-top: 5px;
                    .images {
                        .coverlogo {
                            height: 250px;
                        } .icon {
                            padding: 0 13px; 
                            img {
                                width: 45px;
                            }
                        } 
                    } .gap {
                        h2 {
                            font-size: 20px; 
                        } p {
                            font-size: 13px; 
                        }
                    }
                    .box-image,
                    .box-image.reverse {
                        .detail {
                            p {
                                font-size: 14px; 
                            }
                        } .maskimg {
                            img:first-child, img:last-child {
                                width: 100%; 
                                height: 250px;
                            }
                        }
                    }
                    .desc {
                        p {
                            font-size: 14px; 
                        } h3 {
                            font-size: 20px; 
                        }
                    }
                    .gap {
                        margin-top: -10px;
                    }
                    .icon-boxs {
                        display: unset;
                        flex-direction: column;
                        padding: 20px;
                        gap:20px;
                        grid-template-columns: repeat(2, 1fr);
                        align-items:center;
                        .icon-box {
                            height: 210px;
                            margin:auto;

                            .detail {
                                p {
                                    font-size: 12px;
                                }
                            }

                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 30px;
                            text-align: center;
                            width: 90%;
                            .icon {
                                width: 30px;
                                height: 30px;
                                svg {
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                            
                        }
                    }

                    
                }
            }
        }
    }   
}

@media screen and (max-width: 450px) {
    .service-togglebox {
        .boxs {
            .box.closed {
                
            }
            .box {
                position:relative;
                .toggle-detail {
                
                    h2.float {
                        position: absolute;
                        width: 250px;
                        left: 51px;
                        top: 5px;
                    }
                }
            }
        }
    }

}

// body > div > div > div > div > div.toggle-content > div:nth-child(4) > div.icon-boxs.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-stage-outer > div > div.owl-item.active.center {
//     display:flex; 
//     justify-content: center;
// }
// body > div > div > div > div > div.toggle-content > div:nth-child(4) > div.icon-boxs.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-stage-outer > div > div:nth-child(1) {
//     display:flex; 
//     justify-content: center;
// }