@import './main';

.services {
    justify-content: space-between;
    h1 {
        font-size: 40px; 
        text-align: center; 
        padding-bottom: 5px;
        border-bottom: 2px solid $red3;
    } 

    display: flex;
    .main-service {
        display:flex; 
        flex-direction: column;
        gap: 30px; 
        width: 70%; 
        .box.column {
            flex-direction:column;
            .mask {
                text-align:center; 
                position:relative;
                margin-bottom: 30px;
                .logo {
                    width: 150px;
                    padding: 10px 30px;
                    background: white;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    position: absolute;
                    right: 150px;
                    top: 36px;
                    border-radius: 19px;
                    img {
                        width: 100%; 
                    }
                }
                .maskparent {
                    width: 1000px; 
                    border-radius: 0 60px 60px 0; 
                    box-shadow: 9px 13px 9px #666;
                }  video {
                    position:absolute; 
                    width: 1000px; 
                    height: 437px; 
                    object-fit: cover;
                    object-position: 0 23%;
                    box-shadow: 0px 16px 10px #aaa;
                    mix-blend-mode: screen;
                    border-radius: 0 60px 60px 0; 
                } .component {
                    position: absolute;
                    left: -26px;
                    width: 405px;
                }
            }
           
        }
        .box {
            display:flex;
            gap: 20px; 
            .title-component {
                display:flex; 
                align-items: center;
                img {
                    width: 100px;
                    margin-right: 20px; 
                }
            }
        } img {
            width: 400px; 
        } .detail {
            h3 {
                font-size: 30px;
              
            } p {
                font-size: 18px; 
                line-height: 2;
            } h3.title {
                margin:30px 0; 
            }
        } 
        .box.image {
            padding: 30px; 
            display:flex;
            justify-content: space-between;
            gap:20px;
            align-items: center;
            .detail {
                h3 {
                    margin-top: unset;
                }
            } .maskimg {
                position:relative; 
                img:last-child {
                }
                img:first-child {
                    position:absolute; 
                    mix-blend-mode: lighten;
                    object-fit: cover;
                    height:400px;
                }
            }
        } .box.image.reverse {
            border-radius: 60px 60px 0 0; 
            background: #eee;
            flex-direction: row-reverse;
            position:relative; 
            margin-bottom: 60px; 
            .image-component {
                position: absolute;
                left: 0;
                right: 0;
                bottom: -70px;
                width: 100%;

            }
        }
        .list-image {
           h3 {
            color: $red3;
            font-size: 18px; 
            text-align:center;
            margin-bottom: 30px;
           }
            .floating-list {
                margin:auto; 
                display:flex;
                width: 725px; 
                box-shadow: 0 0 5px #aaa;
                align-items: center;
                padding: 20px; 
                gap: 20px;
                img {
                    border-radius: 7px;
                }
                ul {
                    li {
                    
                        display:flex;
                        align-items: center;
                        gap:10px;
                        .icon {
                            svg {
                                
                                width: 30px; 
                                height: 30px;
                            }
                        }
                    }
                }
            }
        } 
        
        .box.list {
            display: unset;
            h3 {
                font-size: 18px; 
               
               
            } h3.title {
                margin: 30px 0; 
                font-size: 22px;
                display:inline-block;
                padding: 5px 20px; 
                border-radius: 30px; 
                background: $darkblue;
                color:white; 
            } 
            
            .timeline::before {
                content: ''; 
                position: absolute;
                left: 0;
                right: 0;
                height: 2px; 
                background: $red1;
            }
            .timeline {
                position: relative;
                
                display: flex;
                justify-content: space-evenly;
                gap:40px;
                height: 600px;
                align-items: center;
                $gap: 150px;
                .box:nth-child(odd) {
                    
                    transform: translate(0, -$gap);    
                    flex-direction:column-reverse;
                } .box:nth-child(even) {
                    
                    transform: translate(0, $gap);
                    flex-direction:column;    
                }
                .box::after {
                    content: ''; 
                    width: 20px; 
                    height: 20px; 
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -85px;
                    background: $red3;
                    border-radius: 50%;
                } .box:nth-child(even)::after {
                    bottom: unset; 
                    top: -85px;
                }


                .box::before {
                    content: ''; 
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -85px;
                    height: 84px;
                    width: 2px; 
                    background: $red1;
                } .box:nth-child(even)::before {
                    bottom: unset; 
                    top: -85px;
                }
                .box {
                    position:relative; 
                    display:flex;
                    flex-direction:column;
                    width: 135px; 
                    text-align:center;
                    
                    .icon {
                        margin:auto;
                        background: $red3;
                        width: 80px; 
                        height: 80px; 
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg {
                            width: 30px; 
                            height: 30px; 
                            filter: brightness(1) invert(1);
                        }
                    } p {
                        font-size: 18px;
                    }
                }
            }
            .icon-boxs.card2 {
                grid-template-columns: repeat(3, 150px);
                .icon-box {
                    position: relative;
                    width: 150px;
                    text-align: center;
                    display:flex;
                    flex-direction: column;
                    padding: 30px 20px 20px 30px;
                    .number {
                        width: 40px; 
                        height: 50px; 
                        background: $red3; 
                        color:white; 
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 22px;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .icon-boxs {
                
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px; 
                .icon-box {
                    position:relative;
                    border-radius: 3px;
                    background: $red3; 
                    box-shadow: 0 0 5px #aaa;
                    padding: 30px 20px;
                    display:grid; 
                    grid-template-columns: 50px 1fr;
                    gap: 10px;
                    border-radius: 26px;
                    overflow: hidden;
                    .background-image {
                        position:absolute;
                        background-image:url('../dsi/component5.png');
                        background-size: 529px;
                        background-position: -26px 73px;
                        color:white;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        right: 0;
                    }
                    .icon {
                        position:relative;
                        z-index: 2;
                        svg {
                            width: 50px; 
                            height: 50px; 
                            filter: brightness(1) invert(1);
                        }
                    } .detail {
                        position:relative;
                        z-index: 2;
                        color:white; 
                        h3 {
                            font-size: 18px;
                        } p {
                            font-size: 16px;
                            line-height: 2;
                        }
                    }
                }
            }
        }
    }

    .other-service {
        width: 400px;
        display:flex; 
        flex-direction:column;
        gap: 30px; 
        .title-component.news {
            margin-top: 60px;
        }
        .title-component {
            display:flex; 
            align-items: center;
            img {
                width: 100px;
                margin-right: 20px; 
            } 
            h3 {
                font-size: 23px;
            }
        } 
        .boxs {        
            display: flex;
            flex-direction: column;
            gap: 25px;
            height: 470px; 
            overflow:auto;
            padding-right: 10px;
            .box {
                position:relative;
                // overflow:hidden;
                .white-component {
                    position: absolute;
                    right: 0;
                    bottom: -4px;
                    left: -28px;
                    width: 179px;
                    height: 174px;
                    object-fit: cover;
                    box-shadow: unset; 
                }
                gap: 15px;
                padding: 40px 18px;
                display:flex; 
                border-radius: 10px; 
                // box-shadow: 0 0 5px 0 #333;
                background: $red3; 
                color:white; 
                .img-box {
                    position:relative; 
                    z-index: 2;
                    width: 120px; 
                    border-radius: 10px;
                    object-fit:cover; 
                    border:5px solid white; 
                }
                .detail {
                    position:relative; 
                    z-index: 2;
                    h5 {
                        font-size: 20px; 
                    } p {
                        font-size: 16px;
                    }
                }
            }
        } .search {
            display: flex; 
            align-items:center; 
            gap: 9px; 
            justify-content: space-between;
            border-radius: 65px;
            padding: 8px 15px;
            box-shadow: 0px 0px 4px #aaa;
            button {
                padding: 9px 27px; 
                background: $red3; 
                color:white; 
                border-radius: 30px;
                cursor:pointer; 
            } svg {
                width: 20px; 
                height: 20px; 
            } input {
                flex:1;
                height: 85%;
                border:unset; 
                outline:unset; 
                font-size: 16px;
            }
        } .boxs.blogs {
            overflow:unset;
            padding: unset;
            height: unset;
            a {
                display:inline-block; 
                background: #043349; 
                border-radius: 0 30px 30px 0;
                color:white; 
                padding: 5px 20px; 
                align-self: flex-start; 
                margin-top: 10px;
            }
            .blog-box:hover {
                transform: scale(1.04);
            }
            .blog-box {
                border-radius: 15px;
                transition: all 500ms ease 0s; 
                margin-top: 30px;
                padding: 20px 0;
                display:grid; 
                grid-template-columns: 107px 1fr;
                align-items: center;
                box-shadow: 0 0 5px #333;
                position:relative;
                background-image: url('../dsi/component5_gray.png');
                background-size: 300px;
                background-position: -47px 28px;
                img {
                    width: 120px; 
                    position:relative; 
                    object-fit: cover;
                    height: 120px;
                    left: -40px;
                    box-shadow: 5px 5px 5px #aaa;
                    z-index: 2;
                    border-radius: 30px; 
                }
                .detail {
                    display:flex;
                    flex-direction:column;
                    gap: 10px;
                    position:relative;
            
                   
                    span {
                        font-size: 13px;
                    } h3 {
                        font-size: 18px;
                    } p {
                        font-size: 16px;
                    } button {
                        padding: 5px 20px; 
                        background: $red3; 
                        color:white; 
                        border-radius: 5px;
                        align-self: flex-start;
                        border-radius: 30px; 
                    }
                }
            }
        }


        .tags {
            display:flex; 
            flex-wrap: wrap;
            gap: 15px;
            row-gap: 20px; 
            a {
                font-size: 16px; 
                color:black; 
                display:inline-block; 
                padding: 3px 15px; 
                border-radius: 30px; 
                box-shadow: 0 0 5px #333; 
            } a:hover {
                background: $red3; 
                color:white; 
            }
        }
    }
}