@import "./main"; 



.home {
	min-height: 100vh;
	&:before {
		z-index: 888;
		content: '';
		position: absolute;
		width: 100%;
		height: 50px;
		bottom: 0;
		left: 0;
		background: linear-gradient(transparent, var(--section-bg-color));
	}
}
.bg-slider {
	z-index: 777;
	position: relative;
	width: 100%;
	min-height: 100vh;
	.swiper-slide {
		position: relative;
		width: 100%;
		height: 100vh;
		img {
			width: 100%;
			height: 100vh;
			object-fit: cover;
			background-position: center;
			background-size: cover;
			pointer-events: none;
		}
	}
}
.swiper-slide {
	.text-content {
		position: absolute;
		top: 25%;
		color: white;
		margin: 0 200px;
		// bimo transition: 0.3s ease;
		.texts {
			display:flex; 
			.title {
				font-size: 4em;
				font-weight: 700;
				text-shadow: var(--text-shadow);

				opacity: 1;
				
			}
			span {
				transform: translate(6px, 52px);
				font-size: 16px;
				font-weight: 300;
			}
		}
		p {
			margin-top: 25px; 
			max-width: 700px;
			background: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(10px);
			text-shadow: var(--text-shadow);
			padding: 20px;
			border-radius: 10px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			border-right: 1px solid rgba(255, 255, 255, 0.1);
			box-shadow: var(--box-shadow);
			transform: translateX(-80px);
			opacity: 0;
		}
		.read-btn {
			border: none;
			outline: none;
			background: var(--white-color);
			color: black;
			font-size: 1em;
			font-weight: 500;
			padding: 8px 25px;
			display: flex;
			align-items: center;
			margin-top: 40px;
			border-radius: 10px;
			cursor: pointer;
			transform: translateX(50px);
			opacity: 0;
			i {
				font-size: 1.6em;
				// bimo transition: 0.3s ease;
			}
			&:hover {
				i {
					transform: translateX(5px);
				}
			}
		}
	}
}
.swiper-slide-active {
	.text-content {
		.title {
			transform: translateY(0);
			opacity: 1;
			// bimo transition: 1s ease;
			transition-delay: 0.3s;
			transition-property: transform, opacity;
		}
		p {
			transform: translateX(0);
			opacity: 1;
			// bimo transition: 1s ease;
			transition-delay: 0.3s;
			transition-property: transform, opacity;
		}
		.read-btn {
			transform: translateX(0);
			opacity: 1;
			// bimo transition: 1s ease;
			transition-delay: 0.3s;
			transition-property: transform, opacity;
		}
	}
}
.dark-layer {
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.1);
	}
}
.bg-slider-thumbs {
	z-index: 777;
	position: absolute;
	bottom: 7em;
	left: 50%;
	transform: translateX(-50%);
	// bimo transition: 0.3s ease;
}
.thumbs-container {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	padding: 10px 3px;
	border-radius: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: var(--box-shadow);
	img {
		width: 50px;
		height: 35px;
		margin: 0 5px;
		border-radius: 5px;
		cursor: pointer;
	}
}
.swiper-slide-thumb-active {
	border: 1px solid var(--white-color);
}
.media-icons {
	z-index: 999;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 90px;
	
	a {
		// add color
		color:white; 
		font-size: 1.7em;
		margin: 10px 0;
	}
}

$titlefont: 50px; 





.about {
	&-detail {
		margin-top: 100px; 
		display: flex;
		justify-content: space-evenly;
		align-items:flex-start;
		gap: 50px; 
		
		.images {
			position:relative; 
			img {
				position:relative; 
				z-index: 2;
				width: 546px; 
				height: 606px; 
				object-fit: cover;
				border-radius: 10px;
			} 
		}
		.boxs { 
			
			width: 49%;
			height: 520px;
			gap: 20px;
			display: flex;
			flex-direction: column;
			position:relative;

			a {
			color:$red3;
		}
		
			.box:nth-child(1n+2) {
				margin-top:20px; 
				transition: all 200ms ease 0s;
				position:absolute;
				
			}
			.box:first-child {
				box-shadow:unset;
				padding:unset; 
			}

			$size: 100px; 

			.box:nth-child(2) {
				top: $size;
			} .box:nth-child(3) {
				top: $size*2.6;
			} .box:nth-child(4) {
				top: $size*4.2;
			}
			.box:nth-child(1n+2):hover {
				
				transform: scale(1.02) translate(-2px, 0); 
				box-shadow: 0px 5px 7px #999;
			}

			
			.box {
				// align-items: center;
				border-radius: 15px;
				padding: 25px 20px;
				box-shadow: 0px 2px 7px #999;
				width: 95%;
				align-items:center; 
				display: flex;
				gap: 20px;
				h5 {
					font-size: 25px; 
				} p {
					font-size: 16px; 
					margin: 0 0;
				} h2 {
					font-size: ($titlefont)-10; 
					
				} .iconbox {
					border-radius: 30px 0 30px 0;
					display: flex;
					justify-content: center;
					align-items: center;
					background: $red1; 
					$size: 60px; 
					width: $size;
					height: $size; 
					@include flexwidth($size);
					svg {
						filter: invert(100%) sepia(7%) saturate(7474%) hue-rotate(155deg) brightness(120%) contrast(102%);
						width: 30px; 
						height: 30px; 
					}
				}
			}
		}
	}
}


.service { 
	
	.service-boxs {
		margin-top: 50px; 
		display: flex;
		gap: 60px; 
		position:relative; 
		z-index: 1;
		.service-box:hover {
			.service-overlay {
				width: 100%; 
				height: 100%; 
				background: $red1; 
			} .service-icon, h5, p {
				z-index: 1;
				color:white;
			} .service-icon {
				svg {
					filter: invert(11) brightness(6.5);
				}
			}
		}
		.service-box {
			position:relative;
			.service-overlay {
				transition: all 200ms ease 0s;
				width: 70px; 
				height: 70px; 
				background: #ffc5cf;
				position:absolute;
				bottom:0; 
				right: 0; 
			}
			box-shadow: 0 0 10px 0 #999;
			background:white; 
			padding: 70px 30px;
			display: flex;
			flex-direction:column;
			justify-content: center;
			align-items:center; 
			text-align: center;
			gap: 20px; 
			.service-icon {
				width: 70px; 
				height: 70px; 
				background: #ffc5cf; 
				display:flex;
				justify-content:center;
				align-items:center;
				svg {
					width: 50px; 
					height: 50px; 
	
				} 
			} h5 {
				font-size: 21px;
			} p {
				font-size: 0.9em;
			}
		}
		.service-box:nth-child(2) {
			.service-icon {
				svg {
					width: 30px; 
					height: 30px; 
				}
			}
		}
	}
}
.button {
	padding: 5px 30px; 
	background: $red3; 
	color:white; 
	border-radius: 100px;
}

.projects {
	.project-boxs {

		display:flex; 
		gap: 20px; 
		justify-content:space-between;
		.project-box {
			margin: 20px 30px;
			box-shadow: 0 0 10px #ccc;
			background:white; 
			border-radius: 30px; 
			padding: 15px 10px;
			width: 390px;
			@include flexwidth(390px);
			display:flex;
			gap:0;
			align-items:center;
			img {
				width:150px; 
				height: 150px; 
				object-fit:cover; 
				box-shadow: 3px 0 5px #999;
				transform: translate(-30px, 0);
				border-radius: 10px; 

			} .project-info {
				span,p {
					font-size: .8em;
				} h5 {
					font-size: 18px; 
				} .button { 
					font-size: .8em; 
				} p {
					margin-bottom: 10px;
				}
			}
		}
	}
}




.slogan {

	ul {
	margin-top: 90px;
	width: 90%;
	margin-inline: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	justify-content: center;
	gap: 2rem;
	list-style: none;
	li:nth-child(odd) {
		.icon {
			background: $gray;
		}
	}
	li:nth-child(even) {
		.icon {
			background: $gray;
		}
	}


	li {
		// display: none;
	  border: 2px solid white; 
	  max-width: 13rem;
	  justify-self: center;
	  display: grid;
	  grid-template: "icon" "line" "dot" "title" "descr" 1fr;
	  justify-items: center;
	  align-items: flex-start;
	  text-align: center;
	  .icon {
		grid-area: icon;
		width: 6rem;
		aspect-ratio: 1;
		display: grid;
		place-items: center;
		color: $color_1;
		font-size: 2.5rem;
		border: 0.4rem solid white;
		border-radius: 50%;
		// background:red;
		box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.45), inset -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.45);
		svg {
			width: 50px;
			height: 50px; 
		}
	  }
	  &::before {
		content: "";
		grid-area: line;
		height: 2rem;
		border-right: 2px dotted currentColor;
	  }
	  &::after {
		content: "";
		grid-area: dot;
		width: 1rem;
		aspect-ratio: 1;
		border-radius: 50%;
		background: var(--accent-color);
		justify-self: center;
		margin-bottom: 0.5rem;
	  }
	  .title {
		grid-area: title;
		margin-block: 0.5rem;
		font-size: 1rem;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
	  }
	}
  }
  
}


.clients {
	text-align: center;
	.images {
		margin-top: 50px;
		img {
			width: 120px; 
		}
	}
}



@media screen and (max-width: 1520px) {
	.about {
		&-detail {
			gap: 20px; 
			.images {
				img {
					width: 470px;
				}
			}
			.boxs {
				width: 55%;
			}
		}
	}

}

@media screen and (max-width: 1485px) {
	.projects {
		.project-boxs {
			.project-box {
				width: 343px;
				border-radius: 10px;
			}
		}
	}

}



@media screen and (max-width: 1400px) {
	.service {
		.service-boxs {
			gap: 20px; 
			.service-box {
				padding: 50px 20px;
				.service-overlay {
					width: 40px; 
					height: 40px; 
				} 
			} 
		}
	}


	.about {
		&-detail {
			.images {
				img {
					width: 450px;
					height: 580px;
				}
			} .boxs {
				.box {
					.iconbox {
						$size: 60px; 
						width: $size;
						@include flexwidth($size);
						svg {
							width: 30px; 
							height: 30px; 
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1345px) {
	.projects {
		.project-boxs {
			.project-box {
				margin: 10px 0px;
				flex-direction:column;
				img {
					transform: unset; 
					width: 100px; 
					height: 100px; 
					border-radius: 50%; 
				} .project-info {
					margin-top: 10px; 
					text-align:center;
					padding: 10px 10px;
					display:flex;
					flex-direction:column; 
					gap: 10px;  
					justify-content:center;
					align-items:center;
				}
			}
		}
	}
}





@media screen and (max-width: 1245px) {
	.projects {
		.project-boxs {
			.project-box {
				width: 305px;
			}
		}
	}
}

@media screen and (max-width: 1150px) {
	.projects {
		.project-boxs {
			.project-box {
				width: 260px;
			}
		}
	}
}


@media screen and (max-width: 1100px) {
	
	

	.about.section {
		padding: 100px 50px; 
	}
	.media-icons {
		right: 0;
		margin-right: 50px;
	}
	.swiper-slide {
		.text-content {
			margin: 0 120px 0 50px;
		}
	}
	.bg-slider-thumbs {
		bottom: 3em;
	}
}


@media screen and (max-width: 1000px) {
	$titlefont: 40px;


	.service {
		.service-boxs {
			 .service-box {
				.service-icon {
					width: 60px; 
					height: 60px; 
					svg {
						width: 40px; 
						height: 40px;
					}
				} h5 {
					font-size: 16px; 
				} p {
					font-size: 12px; 
				}
			}
		}
	}





	.about {
		 &-detail {
			gap: 30px; 
			.images {
				img {
				    width: 350px;
					height: 572px;
				}
			}
			.boxs {
				.box {
					width: 100%; 
					h2 {
						font-size: ($titlefont)-10;
					} h5 {
						font-size: 20px; 
					}
				}
			}
		}
	}
}


$p785: 20px; 

@media screen and (max-width: 940px) {
	.projects {
		.project-boxs {
			.project-box {
				width: 90%;
				margin: 10px 0px;
		
			}
		}
	}

}


@media screen and (max-width: 900px) {
	

	.about {
		&-detail {
		   gap: 30px; 
		   .images {
			   img {
				   width: 350px;
				   height: 566px;
			   }
		   }
		   .boxs {
			   .box {
				   width: 100%; 
				   h2 {
					   font-size: 30px;
				   } h5 {
					   font-size: 18px; 
				   } p {
					   font-size: 14px; 
				   } .iconbox {
						$size: 50px; 
						width: $size;
						height: $size; 
						@include flexwidth($size);
						svg {
							width: 20px; 
							height: 20px; 
						}
				   } 
			   }
		   }
	   }
   }

}



@media screen and (max-width: 860px) {
	
	
	.about {
		 &-detail {
			.images {
				img {
					width: 290px;
					height: 561px;
				}
			}
			.boxs {
				.box {
					p {
						font-size: 14px; 
					}
				}
			}
		}
	}
}


@media screen and (max-width: 785px) {
	.projects {
		.project-boxs {
			.project-box {
				margin: 10px 30px;
				width: 80%;
			}
		}
	}

	.triangle-line {
		height: 71px;
		width: 100%;
		/* border: 1px solid red; */
		background-image: url(../dsi/component2.png);
		background-size: 127px;
		background-position: 62px 90px;
		margin: 50px 0 0px;
	}

	

	.slogan {
		ul {
			li {
				.title {
					width: 70%; 
				} .icon {
					width: 5rem; 
					svg {
						width: 30px; 
						height: 30px; 
					}
				}
			}
		}
	}
	
	.projects {
		.project-boxs {
			.project-box.item {
				flex-direction: column;
				.project-info {
					padding: 10px; 
				}
			}
		}
	}



	.service {
		.service-boxs {
			flex-direction:column; 
			 .service-box {
				width: 70%;
				margin: auto;
				.service-icon {
				} h5 {
					font-size: 23px; 
				} p {
					font-size: 17px; 
				}
			}
		}
	}
	.about.section {
		padding:unset;
	}
	.about {
		padding:unset;

		&-title {
			margin: 0 20px;
		}
		
		&-detail {
			margin-top: 50px;
			flex-direction:column; 
			padding-bottom: 10px;
			.images {
				height: 700px; 
				width: 100%; 
				background-image: url('../images/hero1.jpg');
				background-attachment: fixed;
				background-size: cover;
				img {
					display:none;
				}
			} .boxs {
			    margin: auto;
    			width: 80%;
				height: unset; 
				.box:first-child {
					div {
						margin: auto; 
					}
				}
				// .box:nth-child(1n+2) {
				// 	box-shadow: 0 14px 2px #eee;
				// }

				.box:nth-child(1n+2) {
				
					position:static;
					
				}
				.box {
					border-radius: 20px;
					padding: 20px 0; 
					text-align:center; 
					flex-direction: column;
					
					h2 {
						font-size: 25px; 
					}
					p {
						width: 75%;
						margin:auto; 
						font-size: 16px; 
					} .iconbox {
						border-radius: 50%; 
						margin:auto; 
						$size: 70px; 
						width: $size;
						@include flexwidth($size);
						svg {
							width: 20px; 
							height: 20px; 
						}
					}
				}
			}
		}
	}

	
	.media-icons {
		margin-right: 20px;
		a {
			font-size: 1.5em;
		}
	}
	.swiper-slide {
		.text-content {
			margin: 0 70px 0 20px;
			.texts {
				.title {
					font-size: 3em;	
				}

				span {
					font-size: 13px;
					transform: translate(9px, 38px);
				}
			}
			p {
				font-size: 0.9em;
			}
			.read-btn {
				font-size: 0.9em;
				padding: 5px 15px;
			}
		}
	}
	
	

	.about {
		h2 {
			font-size: 2.5em;
		}
		p {
			font-size: 0.9em;
		}
	}

	
}
@media screen and (max-width: 590px) {
	.service {
		.service-boxs {
			flex-direction:column; 
			.service-box {
				width: 100%;
				margin: auto;
				h5 {
					font-size : 18px; 

				} p {
					font-size: 12px; 
				}
			}
		}
	}

	.swiper-slide {
		.text-content {
			p {
				font-size: 0.8em;
			}
			.title {
				font-size: 2em;
			} .read-btn {
				margin-top: 20px;
			}                  
		}
	}

	.bg-slider-thumbs {
		bottom: 2em;
	}

	
	.about {
		&-detail {
			.boxs {
				.box {
					p {
						font-size: 13px; 
					} h5 {
						font-size: 16px; 
					} h2 {
						font-size: 20px; 
					} .iconbox {
						$size: 55px; 
						width: $size; 
						@include flexwidth($size); 
					}
				}
			}
		}
	}

	.swiper-slide {
		.text-content {
			margin: 0 20% 0 5%;
			.texts {
				flex-direction: column;
				span {
					transform:unset;
				}
			}
		}
	}
}


@media screen and (max-width: 550px) {
	.projects {
		.project-boxs {
			.project-box {
				width: 70%;
			}
		}
	}

	.slogan {
		ul {
			li {
				margin:auto;
			}
		}
	}
	.about {
		&-detail {
			.boxs {
				width: 85%; 
			}
		}
	}
}



@media screen and (max-width: 381px) {
	.about {
		&-detail {
			.boxs {
				.box {
					p {
						width: 100%; 
					}
				}
			}
		}
	}
}