@import "./main"; 

header {
	z-index: 999;
	position: fixed;
	width: 100%;
	height: calc(5rem + 1rem);
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	// bimo transition: 0.5s ease;
	transition-property: height, background;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px);
	.nav-bar {
		position: relative;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	    padding: 0 90px;
        // bimo transition: 0.3s ease; 
        .logo {
            img {
                width: 150px;
            }
        } .navigation {
            height: 100%;
            
            display: flex;
            justify-content: center;
			align-items: center;
			list-style: none; 
		
			
			li {

				svg.active {
					transform: rotate(180deg);
				} .sub-menu.active {
					bottom: -104px;
					z-index: 1;
					pointer-events: unset;
					opacity: 1;
	
				}
				height: 100%;
				width: 120px; 
				position:relative; 
				a {
					color:white;
				} svg {
					filter: invert(100%) sepia(7%) saturate(7474%) hue-rotate(155deg) brightness(120%) contrast(102%);
					width: 15px;
					transform: translate(0,-2px);
					transition: all 200ms ease 0s; 
				} 
				.menu {
					
					height: 100%;
					display: flex;
					align-items:center; 
					justify-content: center;
					gap:10px;
					
				}
				
				.sub-menu {
					transition: all 200ms ease 0s; 
					
					position: absolute; 
					left: 0;
					right: 0; 
					opacity: 0;
					pointer-events: none;
					z-index: -1;
					bottom: -65px;
					text-align: center;
					display: flex;
					flex-direction: column;
					background: rgba(255, 255, 255, 0.1);
					backdrop-filter: blur(10px);
					a {
						color:white; 
						display: inline-block;
						padding: 5px 0;
					} a:nth-child(2) {
						border-top: 1px solid white; 
						border-bottom: 1px solid white; 
					}
				}
			}

		}  
	}
}
header.sticky {
	height: calc(2.5rem + 1rem);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
header.active {
    background:$red1; 
    backdrop-filter: unset;
    background-image: linear-gradient(-180deg, $red1, $red2, $red3);
}
.nav-close-btn {
	display: none;
}
.nav-menu-btn {
	display: none;
}

.home {
	min-height: 100vh;
	&:before {
		z-index: 888;
		content: '';
		position: absolute;
		width: 100%;
		height: 50px;
		bottom: 0;
		left: 0;
		background: linear-gradient(transparent, var(--section-bg-color));
	}
}
.bg-slider {
	z-index: 777;
	position: relative;
	width: 100%;
	min-height: 100vh;
	.swiper-slide {
		position: relative;
		width: 100%;
		height: 100vh;
		img {
			width: 100%;
			height: 100vh;
			object-fit: cover;
			background-position: center;
			background-size: cover;
			pointer-events: none;
		}
	}
}
.swiper-slide {
	.text-content {
		position: absolute;
		top: 25%;
		color: $color_1;
		margin: 0 200px;
		// bimo transition: 0.3s ease;
		.title {
			font-size: 4em;
			font-weight: 700;
			text-shadow: var(--text-shadow);
			margin-bottom: 20px;
			transform: translateY(-50px);
			opacity: 0;
			span {
				font-size: 0.3em;
				font-weight: 300;
			}
		}
		p {
			max-width: 700px;
			background: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(10px);
			text-shadow: var(--text-shadow);
			padding: 20px;
			border-radius: 10px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			border-right: 1px solid rgba(255, 255, 255, 0.1);
			box-shadow: var(--box-shadow);
			transform: translateX(-80px);
			opacity: 0;
		}
		.read-btn {
			border: none;
			outline: none;
			background: var(--white-color);
			color: $color_2;
			font-size: 1em;
			font-weight: 500;
			padding: 8px 25px;
			display: flex;
			align-items: center;
			margin-top: 40px;
			border-radius: 10px;
			cursor: pointer;
			transform: translateX(50px);
			opacity: 0;
			i {
				font-size: 1.6em;
				// bimo transition: 0.3s ease;
			}
			&:hover {
				i {
					transform: translateX(5px);
				}
			}
		}
	}
}
.swiper-slide-active {
	.text-content {
		.title {
			transform: translateY(0);
			opacity: 1;
			// bimo transition: 1s ease;
			transition-delay: 0.3s;
			transition-property: transform, opacity;
		}
		p {
			transform: translateX(0);
			opacity: 1;
			// bimo transition: 1s ease;
			transition-delay: 0.3s;
			transition-property: transform, opacity;
		}
		.read-btn {
			transform: translateX(0);
			opacity: 1;
			// bimo transition: 1s ease;
			transition-delay: 0.3s;
			transition-property: transform, opacity;
		}
	}
}
.dark-layer {
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.1);
	}
}
.bg-slider-thumbs {
	z-index: 777;
	position: absolute;
	bottom: 7em;
	left: 50%;
	transform: translateX(-50%);
	// bimo transition: 0.3s ease;
}
.thumbs-container {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	padding: 10px 3px;
	border-radius: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: var(--box-shadow);
	img {
		width: 50px;
		height: 35px;
		margin: 0 5px;
		border-radius: 5px;
		cursor: pointer;
	}
}
.swiper-slide-thumb-active {
	border: 1px solid var(--white-color);
}
.media-icons {
	z-index: 999;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 90px;
	a {
		color: $color_1;
		font-size: 1.7em;
		margin: 10px 0;
	}
}

$titlefont: 50px; 



img.img-support {
	width: 800px;
	position: absolute;
} 

img.img-support-background1 {
    width: 400px;
    position: absolute;
    z-index: 1;
    height: 400px;
    top: 0;
    right: -56px;
	top: -73px;
	object-fit: cover;
}
img.img-support-background2 {
	width: 350px;
    position: absolute;
    z-index: 1;
    height: 340px;
    left: -8px;
    bottom: -54px;
    -o-object-fit: cover;
    object-fit: cover;
} img.separate {
	width: 100%;
}

.section {
	position:relative;
	padding: 100px 90px; 
	.section-title {
		
		h2 {
			text-align:center; 
			font-size: $titlefont;
			font-weight: 600;
			color: $darkgray; 
		} .line {
			width: 30px; 
			height: 3px; 
			display: block;
			margin: 5px auto; 
			background: $red1;
		}
		p {
			margin: 25px auto; 
			width: 600px; 
			line-height: 2;
			text-align:center;
		}
	}
}

.about {

	

	&-detail {
		margin-top: 100px; 
		display: flex;
		justify-content: space-evenly;
		align-items:center;
		gap: 50px; 
		.images {
			position:relative; 
			img {
				position:relative; 
				z-index: 2;
				width: 546px; 
				height: 606px; 
				object-fit: cover;
				border-radius: 10px;
			} 
		}
		.boxs { a {
			color:$red3;
		}
		
			.box:nth-child(1n+2) {
				margin-top:20px; 
			}
			.box {
				// align-items: center;
				display: flex;
				gap: 20px;
				padding: 20px 10px;
				h5 {
					font-size: 25px; 
				} p {
					font-size: 16px; 
					margin: 10px 0;
				} h2 {
					font-size: ($titlefont)-10; 
					
				} .iconbox {
					display: flex;
					justify-content: center;
					align-items: center;
					background: $red1; 
					$size: 80px; 
					width: $size;
					@include flexwidth($size);
					svg {
						filter: invert(100%) sepia(7%) saturate(7474%) hue-rotate(155deg) brightness(120%) contrast(102%);
						width: 40px; 
						height: 40px; 
					}
				}
			}
		}
	}
}


.service { 
	
	.service-boxs {
		margin-top: 50px; 
		display: flex;
		gap: 60px; 
		position:relative; 
		z-index: 1;
		.service-box:hover {
			.service-overlay {
				width: 100%; 
				height: 100%; 
				background: $red1; 
			} .service-icon, h5, p {
				z-index: 1;
				color:white;
			} .service-icon {
				svg {
					filter: invert(11) brightness(6.5);
				}
			}
		}
		.service-box {
			position:relative;
			.service-overlay {
				transition: all 200ms ease 0s;
				width: 70px; 
				height: 70px; 
				background: #ffc5cf;
				position:absolute;
				bottom:0; 
				right: 0; 
			}
			box-shadow: 0 0 10px 0 #999;
			background:white; 
			padding: 70px 30px;
			display: flex;
			flex-direction:column;
			justify-content: center;
			align-items:center; 
			text-align: center;
			gap: 20px; 
			.service-icon {
				width: 70px; 
				height: 70px; 
				background: #ffc5cf; 
				display:flex;
				justify-content:center;
				align-items:center;
				svg {
					width: 50px; 
					height: 50px; 
	
				} 
			} h5 {
				font-size: 21px;
			} p {
				font-size: 0.9em;
			}
		}
		.service-box:nth-child(2) {
			.service-icon {
				svg {
					width: 30px; 
					height: 30px; 
				}
			}
		}
	}
}
.button {
	padding: 5px 30px; 
	background: $red3; 
	color:white; 
	border-radius: 100px;
}

.projects {
	.project-boxs {

		display:flex; 
		gap: 20px; 
		justify-content:space-between;
		.project-box {
			margin: 20px 30px;
			box-shadow: 0 0 10px #ccc;
			background:white; 
			border-radius: 30px; 
			padding: 15px 10px;
			width: 390px;
			@include flexwidth(390px);
			display:flex;
			gap:0;
			align-items:center;
			img {
				width:150px; 
				height: 150px; 
				object-fit:cover; 
				box-shadow: 3px 0 5px #999;
				transform: translate(-30px, 0);
				border-radius: 10px; 

			} .project-info {
				span,p {
					font-size: .8em;
				} h5 {
					font-size: 18px; 
				} .button { 
					font-size: .8em; 
				} p {
					margin-bottom: 10px;
				}
			}
		}
	}
}




.slogan {

	ul {
	margin-top: 90px;
	width: 90%;
	margin-inline: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	justify-content: center;
	gap: 2rem;
	list-style: none;
	li:nth-child(odd) {
		.icon {
			background: $gray;
		}
	}
	li:nth-child(even) {
		.icon {
			background: $gray;
		}
	}


	li {
		// display: none;
	  border: 2px solid white; 
	  max-width: 13rem;
	  justify-self: center;
	  display: grid;
	  grid-template: "icon" "line" "dot" "title" "descr" 1fr;
	  justify-items: center;
	  align-items: flex-start;
	  text-align: center;
	  .icon {
		grid-area: icon;
		width: 6rem;
		aspect-ratio: 1;
		display: grid;
		place-items: center;
		color: $color_1;
		font-size: 2.5rem;
		border: 0.4rem solid white;
		border-radius: 50%;
		// background:red;
		box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.45), inset -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.45);
		svg {
			width: 50px;
			height: 50px; 
		}
	  }
	  &::before {
		content: "";
		grid-area: line;
		height: 2rem;
		border-right: 2px dotted currentColor;
	  }
	  &::after {
		content: "";
		grid-area: dot;
		width: 1rem;
		aspect-ratio: 1;
		border-radius: 50%;
		background: var(--accent-color);
		justify-self: center;
		margin-bottom: 0.5rem;
	  }
	  .title {
		grid-area: title;
		margin-block: 0.5rem;
		font-size: 1rem;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
	  }
	}
  }
  
}


.clients {
	text-align: center;
	.images {
		margin-top: 50px;
		img {
			width: 120px; 
		}
	}
}


@media screen and (max-width: 1485px) {
	.projects {
		.project-boxs {
			.project-box {
				width: 343px;
				border-radius: 10px;
			}
		}
	}

}

@media screen and (max-width: 1345px) {
	.projects {
		.project-boxs {
			.project-box {
				margin: 10px 0px;
				flex-direction:column;
				img {
					transform: unset; 
					width: 100px; 
					height: 100px; 
					border-radius: 50%; 
				} .project-info {
					margin-top: 10px; 
					text-align:center;
					padding: 10px 10px;
					display:flex;
					flex-direction:column; 
					gap: 10px;  
					justify-content:center;
					align-items:center;
				}
			}
		}
	}
}

@media screen and (max-width: 1400px) {
	.service {
		.service-boxs {
			gap: 20px; 
			.service-box {
				padding: 50px 20px;
				.service-overlay {
					width: 40px; 
					height: 40px; 
				} 
			} 
		}
	}
	img.img-support-background1 {
		width: 300px;
		height: 300px;
		right: -56px;
		top: -73px;
	}
	img.img-support-background2 {
		width: 250px;
		height: 240px;
		left: -8px;
		bottom: -54px;
	}

	.about {
		&-detail {
			.images {
				img {
					width: 450px;
					height: 550px;
				}
			} .boxs {
				.box {
					.iconbox {
						$size: 60px; 
						width: $size;
						@include flexwidth($size);
						svg {
							width: 30px; 
							height: 30px; 
						}
					}
				}
			}
		}
	}
}


@media screen and (max-width: 1100px) {
	
	header {
		.nav-bar {
			padding: 0 50px;
		}
	}
	.section {
		padding: 25px 50px;
	}
	.media-icons {
		right: 0;
		margin-right: 50px;
	}
	.swiper-slide {
		.text-content {
			margin: 0 120px 0 50px;
		}
	}
	.bg-slider-thumbs {
		bottom: 3em;
	}
}

@media screen and (max-width: 1245px) {
	.projects {
		.project-boxs {
			.project-box {
				width: 305px;
			}
		}
	}
}

@media screen and (max-width: 1150px) {
	.projects {
		.project-boxs {
			.project-box {
				width: 260px;
			}
		}
	}
}



@media screen and (max-width: 1000px) {
	$titlefont: 40px;

	.service {
		.service-boxs {
			 .service-box {
				.service-icon {
					width: 60px; 
					height: 60px; 
					svg {
						width: 40px; 
						height: 40px;
					}
				} h5 {
					font-size: 16px; 
				} p {
					font-size: 12px; 
				}
			}
		}
	}


	img.img-support-background1 {
		width: 200px;
		height: 200px;
		right: -56px;
		top: -73px;
	}
	img.img-support-background2 {
		width: 150px;
		height: 140px;
		left: -8px;
		bottom: -54px;
	}

	.section {
		.section-title {
			h2 {
				font-size: $titlefont;
			}
		}
	}

	.about {
		 &-detail {
			gap: 30px; 
			.images {
				img {
				    width: 400px;
					height: 500px;
				}
			}
			.boxs {
				.box {
					h2 {
						font-size: ($titlefont)-10;
					} h5 {
						font-size: 20px; 
					}
				}
			}
		}
	}
}

@media screen and (max-width: 860px) {
	
	.section {
		.section-title {
			p {
				font-size: 14px; 
			}
		}
	}
	.about {
		 &-detail {
			.images {
				img {
					width: 320px;
					height: 480px;
				}
			}
			.boxs {
				.box {
					p {
						font-size: 14px; 
					}
				}
			}
		}
	}
}

$p785: 20px; 

@media screen and (max-width: 940px) {
	.projects {
		.project-boxs {
			.project-box {
				width: 90%;
				margin: 10px 0px;
		
			}
		}
	}

}



@media screen and (max-width: 785px) {
	.projects {
		.project-boxs {
			.project-box {
				margin: 10px 30px;
				width: 80%;
			}
		}
	}
	img.img-support-background2 {
		display:none;
	} .section {
		.section-title {
		    z-index: 1;
    		position: relative;
			margin-top: 70px; 
				p {
					width:unset;
					font-size: $p785;
				}
		}
	} 
	
	.slogan {
		ul {
			li {
				.title {
					width: 70%; 
				} .icon {
					width: 5rem; 
					svg {
						width: 30px; 
						height: 30px; 
					}
				}
			}
		}
	}
	
	.projects {
		.project-boxs {
			.project-box.item {
				flex-direction: column;
				.project-info {
					padding: 10px; 
				}
			}
		}
	}



	.service {
		.service-boxs {
			flex-direction:column; 
			 .service-box {
				width: 70%;
				margin: auto;
				.service-icon {
				} h5 {
					font-size: 23px; 
				} p {
					font-size: 17px; 
				}
			}
		}
	}
	.about.section {
		padding:unset;
	}
	.about {
		padding:unset;

		&-title {
			margin: 0 20px;
		}
		
		&-detail {
			margin-top: 50px;
			flex-direction:column; 
			.images {
				height: 700px; 
				width: 100%; 
				background-image: url('../images/hero1.jpg');
				background-attachment: fixed;
				background-size: cover;
				img {
					display:none;
				}
			} .boxs {
				margin: 0 20px;
				.box:first-child {
					div {
						margin: auto; 
					}
				}
				
				.box {
					border-radius: 20px;
					padding: 20px 0; 
					text-align:center; 
					flex-direction: column;
					h2 {
						font-size: 35px; 
					}
					p {
						font-size: $p785; 
					} .iconbox {
						margin:auto; 
						$size: 95px; 
						width: $size;
						@include flexwidth($size);
						
					}
				}
			}
		}
	}
	header {
		z-index: 9999;
		.nav-bar {
			padding: 25px 20px;
			.navigation.active {
				visibility: visible;
				opacity: 1;
				pointer-events: unset;
				transform: translate(0%, 0);
				opacity: 1;
			}

			.navigation {
				transition: all 200ms ease 0s;
					background: $red1; 
					backdrop-filter: blur(10px);
				z-index: 99999;
				position:fixed; 
			    display: flex;
				flex-direction: column;
				right: 0;
				height: 100vh;
				width: 40%;
				top: 0; 
				bottom: 0; 
				z-index: -1;
			
				display: flex;
				justify-content: center;
				align-items: center;
				visibility: hidden;
				pointer-events: none;
				transform: translate(100%, 0);
				gap: 25px; 
				// bimo transition: 0.3s ease;
				// li:hover {
			
				// }
				li {
					height: unset;
					
					width: 100%;
					.sub-menu.active {
						bottom: unset; 
						opacity: unset;
						pointer-events: unset;
						height: unset;
					}
					.sub-menu {
						margin-top: 10px;
						position:unset; 
						bottom:unset; 
						height: 0; 
						pointer-events: none;
						opacity: 0; 
						background: unset;
						backdrop-filter: unset;
						a:first-child {
							border-top: 1px solid white; 
						} a:last-child {
							border-bottom: 1px solid white; 
						} a {
							padding: 10px 0;
						}
					} .menu {
						height: unset; 
					}
				}
				.nav-items {
					position: relative;
					background: var(--white-color);
					width: 400px;
					max-width: 400px;
					display: grid;
					place-content: center;
					margin: 20px;
					padding: 40px;
					border-radius: 20px;
					box-shadow: var(--box-shadow);
					transform: translateY(-200px);
					// bimo transition: 0.3s ease;
					a {
						
						color: $color_2;
						font-size: 1em;
						margin: 15px 50px;
						// bimo transition: 0.3s ease;
						&:hover {
							color: $color_3;
						}
					}
					a {
						i {
							display: inline-block;
							font-size: 1.3em;
							margin-right: 5px;
						}
					}
				}
			}
		}
	}
	.section {
		padding: 25px 20px;
	}
	.media-icons {
		margin-right: 20px;
		a {
			font-size: 1.5em;
		}
	}
	.swiper-slide {
		.text-content {
			margin: 0 70px 0 20px;
			.title {
				font-size: 3em;
				span {
					font-size: 0.35em;
				}
			}
			p {
				font-size: 0.9em;
			}
			.read-btn {
				font-size: 0.9em;
				padding: 5px 15px;
			}
		}
	}
	.nav-menu-btn {
		display: block;
		color: $color_1;
		font-size: 1.5em;
		cursor: pointer;
	}
	.nav-close-btn {
		display: block;
		color: $color_2;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 1.3em;
		margin: 10px;
		cursor: pointer;
		// bimo transition: 0.3s ease;
	}
	

	.about {
		h2 {
			font-size: 2.5em;
		}
		p {
			font-size: 0.9em;
		}
	}
}
@media screen and (max-width: 590px) {
	.service {
		.service-boxs {
			flex-direction:column; 
			.service-box {
				width: 100%;
				margin: auto;
			}
		}
	}

	.swiper-slide {
		.text-content {
			p {
				font-size: 0.8em;
			}
			.title {
				font-size: 2.3em;
			}
		}
	}
}


@media screen and (max-width: 550px) {
	.projects {
		.project-boxs {
			.project-box {
				width: 70%;
			}
		}
	}

	.slogan {
		ul {
			li {
				margin:auto;
			}
		}
	}

}