@import "./main"; 

.bannerinfo {
	padding: 5rem 90px;
	.overlay {
		position:absolute; 
		left: 0; 
		top: 0;
		right: 0; 
		bottom: 0; 
		background: rgba(0, 0, 0, 0.6);
		background-size: cover; 
		background-position: 100px 241px;
    	background-size: 700px;
	}
	background-position: center center;
	background-size: cover;
	background-image: url('../webp/hero3.webp');
	.left {
		width: 650px; 
		position:relative; 
		z-index: 1;
		.component {
			display:flex;
			align-items:center; 
			gap: 10px; 
			img {
				width: 50px; 
				filter: brightness(10);
			} h4 {
				font-size: 20px; 
				color:white; 
			}
		} 
		p {
			font-size: 18px; 
			line-height: 2; 
			margin-top: 20px; 
			color:white; 
		}
		h1 {
			font-size: 40px;
			color: white; 
		} .buttons {
			margin-top: 40px; 
			display:flex; 
			gap: 15px; 
			align-items: center;
			a {
				display:inline-block; 
				padding: 5px 15px; 
				font-size: 16px; 
				border-radius: 7px; 
			} a:first-child {
				background:transparent;
				border: 1px solid white; 
				color:white; 
			} a:last-child {
				background: $red3; 
				color:white; 
				border: 1px solid $red3; 
	
			}
		}
	}
}

.footer.section {
	padding-top: 120px; 
}

.contactus {
	background: url('../webp/hero6.webp'); 
	background-size: cover; 
	background-position: center center;
	padding: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: cne;
    justify-content: center;
	align-items: center;
	position:relative; 
	.overlay {
		position:absolute; 
		left: 0; 
		top: 0;
		right: 0; 
		bottom: 0; 
		background: rgba(0, 0, 0, 0.7);
		background-size: cover; 
		background-position: 100px 241px;
		background-size: 700px;
	}
	.left {
		width: 650px; 
		position:relative; 
		z-index: 1;
		display: flex;
		flex-direction: column;
	
		justify-content: center;
		align-items: center;
		.component {
			margin: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px; 
			img {
				width: 50px; 
				filter:brightness(10);
			} h4 {
				font-size: 20px; 
				color:white; 
			}
		} 
		h1 {
			font-size: 40px;
			color: white; 
			margin: 20px 0 30px 0;
		} a {
			display:flex;
			align-items:center; 
			gap: 10px;  
			padding: 5px 15px; 
			font-size: 16px; 
			border-radius: 7px; 
			background: transparent; 
			color:white; 
			border: 2px solid white; 
		} 
	}
}

.aboutnew {
	padding-bottom: 80px; 
	background: #fdfdfd;
	.floating-box {
		width: 87%; 
		box-shadow: 0 0 5px #aaa;
		padding: 40px; 
		border-radius: 40px; 
		display:flex; 
		justify-content: space-between; 
		margin: auto;
		background:white; 
		gap: 70px; 
		position:relative; 
		z-index: 888;
		margin-top: -60px;
		.left {
			flex: 1; 
			.component {
				display:flex;
				align-items:center; 
				img {
					width: 50px; 
				} h4 {
					font-size: 20px; 
				}
			} 
			p {
				font-size: 18px; 
				line-height: 2; 
				margin-top: 20px; 
			}
			h1 {
				font-size: 40px;
				color: $red3; 
			}
		} .right {
			width: 450px; 
			display:flex; 
			.cards {
				display:flex; 
				flex-direction:column;
				gap: 15px; 
				justify-content: space-around;
				.card {
					display:flex; 
					gap: 30px; 
					align-items: center;
					.icon {
						$size: 68px;
						width: $size; 
						height: $size; 
						background: white; 
						border: 4px solid #C9313A;
						display:flex; 
						justify-content: center; 
						align-items:center; 
						border-radius: 5px; 
						svg {
							@include flexwidth($size - 28);
							width: $size - 28; 
							height: $size - 28; 
							filter: invert(14%) sepia(56%) saturate(3411%) hue-rotate(332deg) brightness(97%) contrast(95%);
						}
					} h3 {
						font-size: 26px; 
					} a {
						color: $red3; 
					}
				} 
			}
		}
	}
}

.sloganews.section {
	display:flex; 
	align-items:center;
	gap: 40px; 
	justify-content: space-between;
	.right {
		display:flex; 
		flex-direction: column;
		.frame {
			box-shadow: 5px 10px 5px #999;
			$radius: 15px; 
			border-radius: $radius; 
			display:flex; 
			justify-content: center;
			align-items: center;
			border: 4px solid $red3;
			img {
				border-radius: $radius; 
				display:inline-block;
				width: 400px;
				height: 200px;
				object-fit: cover;
				border: 4px solid white; 
			} 
		} .frame:last-child {
			transform: translate(-49px, -13px);
		}
	}
	.left {
		display: flex;
		flex-direction: column;
		width: 550px; 
		justify-content: flex-start;
		align-items: flex-start;
		a.button {
			margin-top: 20px; 
			display:flex;
			align-items:center; 
			
			gap: 10px; 
			background: $red3; 
			padding: 3px 10px; 
			color:white; 
			font-size: 16px; 
			border-radius: 5px;
			margin-top: 10px;  
		}
		.component {
			display:flex; 
			align-items: center;
			gap: 10px; 
			img {
				width: 50px; 
			}
			h3 {
				font-weight: bold;
				font-size: 20px; 
			}
		} h1 {
			font-size: 40px; 
			color:$red3;
		} p {
			line-height: 2;
			margin: 20px 0;
			font-size: 18px; 
		} .cards {
			margin: 35px 0;
			display:grid; 
			grid-template-columns: repeat(3, 151px);
			justify-content: space-between;
			.card {
				box-shadow: 0 5px 4px #eee;
				padding: 10px;
				display:flex; 
				flex-direction:column;
				// gap: 10px;
				.icon {
					svg {
						width: 20px; 
						height: 20px; 
					} .title {
						font-size: 18px;
					}
				}
			}
		}
	}
}

.home {
	min-height: 100vh;
	// &:before {
	// 	z-index: 888;
	// 	content: '';
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 50px;
	// 	bottom: 0;
	// 	left: 0;
	// 	background: linear-gradient(transparent, var(--section-bg-color));
	// }
}
.bg-slider {
	z-index: 777;
	position: relative;
	width: 100%;
	min-height: 100vh;
	.swiper-slide {
		position: relative;
		width: 100%;
		height: 100vh;
		img {
			width: 100%;
			height: 100vh;
			object-fit: cover;
			background-position: center;
			background-size: cover;
			pointer-events: none;
		}
	}
}
.swiper-slide {
	.text-content {
		position: absolute;
		top: 25%;
		color: white;
		margin: 0 200px;
		// bimo transition: 0.3s ease;
		.texts {
			display:flex; 
			.title {
				font-size: 4em;
				font-weight: 700;
				text-shadow: var(--text-shadow);

				opacity: 1;
				
			}
			span {
				transform: translate(6px, 52px);
				font-size: 16px;
				font-weight: 300;
			}
		}
		p {
			margin-top: 25px; 
			max-width: 700px;
			background: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(10px);
			text-shadow: var(--text-shadow);
			padding: 20px;
			border-radius: 10px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			border-right: 1px solid rgba(255, 255, 255, 0.1);
			box-shadow: var(--box-shadow);
			transform: translateX(-80px);
			opacity: 0;
		}
		.read-btn {
			border: none;
			outline: none;
			background: var(--white-color);
			color: black;
			font-size: 1em;
			font-weight: 500;
			padding: 8px 25px;
			display: flex;
			align-items: center;
			margin-top: 40px;
			border-radius: 10px;
			cursor: pointer;
			transform: translateX(50px);
			opacity: 0;
			i {
				font-size: 1.6em;
				// bimo transition: 0.3s ease;
			}
			&:hover {
				i {
					transform: translateX(5px);
				}
			}
		}
	}
}
.swiper-slide-active {
	.text-content {
		.title {
			transform: translateY(0);
			opacity: 1;
			// bimo transition: 1s ease;
			transition-delay: 0.3s;
			transition-property: transform, opacity;
		}
		p {
			transform: translateX(0);
			opacity: 1;
			// bimo transition: 1s ease;
			transition-delay: 0.3s;
			transition-property: transform, opacity;
		}
		.read-btn {
			transform: translateX(0);
			opacity: 1;
			// bimo transition: 1s ease;
			transition-delay: 0.3s;
			transition-property: transform, opacity;
		}
	}
}
.dark-layer {
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.6);
	}
}
.bg-slider-thumbs {
	z-index: 777;
	position: absolute;
	bottom: 7em;
	left: 50%;
	transform: translateX(-50%);
	// bimo transition: 0.3s ease;

	// debug
	left: unset;
    transform: unset;
    right: 2%;
    bottom: 16em;
}
.thumbs-container {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	padding: 10px 3px;
	border-radius: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: var(--box-shadow);

	// debug
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

	img {
		width: 50px;
		height: 35px;
		margin: 0 5px;
		border-radius: 5px;
		cursor: pointer;
	}
}
.swiper-slide-thumb-active {
	border: 1px solid var(--white-color);
}
.media-icons {
	z-index: 999;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 90px;
	
	a {
		// add color
		color:white; 
		font-size: 1.7em;
		margin: 10px 0;
	} a:active {
		color:white; 
	}
}

$titlefont: 50px; 





.about {
	&-detail {
		margin-top: 100px; 
		display: flex;
		justify-content: space-evenly;
		align-items:flex-start;
		gap: 50px; 
		
		.images {
			position:relative; 
			img {
				position:relative; 
				z-index: 2;
				width: 546px; 
				height: 606px; 
				object-fit: cover;
				border-radius: 10px;
			} 
		}
		.boxs { 
			
			width: 49%;
			height: 520px;
			gap: 20px;
			display: flex;
			flex-direction: column;
			position:relative;

			a {
			color:$red3;
		}
		
			.box:nth-child(1n+2) {
				margin-top:20px; 
				transition: all 200ms ease 0s;
				position:absolute;
				
			}
			.box:first-child {
				box-shadow:unset;
				padding:unset; 
			}

			$size: 100px; 

			.box:nth-child(2) {
				top: $size;
			} .box:nth-child(3) {
				top: $size*2.6;
			} .box:nth-child(4) {
				top: $size*4.2;
			}
			.box:nth-child(1n+2):hover {
				
				transform: scale(1.02) translate(-2px, 0); 
				box-shadow: 0px 5px 7px #999;
			}

			
			.box {
				// align-items: center;
				border-radius: 15px;
				padding: 25px 20px;
				box-shadow: 0px 2px 7px #999;
				width: 95%;
				align-items:center; 
				display: flex;
				gap: 20px;
				h5 {
					font-size: 25px; 
				} p {
					font-size: 16px; 
					margin: 0 0;
				} h2 {
					font-size: ($titlefont)-10; 
					
				} .iconbox {
					border-radius: 30px 0 30px 0;
					display: flex;
					justify-content: center;
					align-items: center;
					background: $red1; 
					$size: 60px; 
					width: $size;
					height: $size; 
					@include flexwidth($size);
					svg {
						filter: invert(100%) sepia(7%) saturate(7474%) hue-rotate(155deg) brightness(120%) contrast(102%);
						width: 30px; 
						height: 30px; 
					}
				}
			}
		}
	}
}



.button {
	padding: 5px 30px; 
	background: $red3; 
	color:white; 
	border-radius: 100px;
}

.projects {
	.project-boxs {

		display:flex; 
		gap: 20px; 
		justify-content:space-between;
		.project-box {
			margin: 20px 30px;
			box-shadow: 0 0 10px #ccc;
			background:white; 
			border-radius: 30px; 
			padding: 15px 10px;
			width: 390px;
			@include flexwidth(390px);
			display:flex;
			gap:0;
			align-items:center;
			img {
				width:150px; 
				height: 150px; 
				object-fit:cover; 
				box-shadow: 3px 0 5px #999;
				transform: translate(-30px, 0);
				border-radius: 10px; 

			} .project-info {
				span,p {
					font-size: .8em;
				} h5 {
					font-size: 18px; 
				} .button { 
					font-size: .8em; 
				} p {
					margin-bottom: 10px;
				}
			}
		}
	}
}




.slogan {

	ul {
	margin-top: 90px;
	width: 90%;
	margin-inline: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	justify-content: center;
	gap: 2rem;
	list-style: none;
	li:nth-child(odd) {
		.icon {
			background: $gray;
		}
	}
	li:nth-child(even) {
		.icon {
			background: $gray;
		}
	}


	li {
		// display: none;
	  border: 2px solid white; 
	  max-width: 13rem;
	  justify-self: center;
	  display: grid;
	  grid-template: "icon" "line" "dot" "title" "descr" 1fr;
	  justify-items: center;
	  align-items: flex-start;
	  text-align: center;
	  .icon {
		grid-area: icon;
		width: 6rem;
		aspect-ratio: 1;
		display: grid;
		place-items: center;
		color: $color_1;
		font-size: 2.5rem;
		border: 0.4rem solid white;
		border-radius: 50%;
		// background:red;
		box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.45), inset -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.45);
		svg {
			width: 50px;
			height: 50px; 
		}
	  }
	  &::before {
		content: "";
		grid-area: line;
		height: 2rem;
		border-right: 2px dotted currentColor;
	  }
	  &::after {
		content: "";
		grid-area: dot;
		width: 1rem;
		aspect-ratio: 1;
		border-radius: 50%;
		background: var(--accent-color);
		justify-self: center;
		margin-bottom: 0.5rem;
	  }
	  .title {
		grid-area: title;
		margin-block: 0.5rem;
		font-size: 1rem;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
	  }
	}
  }
  
}

.ournewsnew.ourproject {
	.cards {
		.card {
			box-shadow: 0 0 0 5px #C9313A;		
			border: 5px solid white; 
			position:relative; 
			img {
				position: absolute;
				height: auto;
				width: 80px;
				right: 0;
				background: white;
				z-index: 9;
				bottom: 0;
				padding: 5px 10px;
				border-radius: 30px 0 0;
			}
			.overlay {
				position:absolute; 
				left: 0; 
				top: 0;
				right: 0; 
				bottom: 0; 
				background: rgba(0, 0, 0, 0.3);
				background-size: cover; 
				background-position: 100px 241px;
				background-size: 700px;
			}
			border-radius: 6px;
			padding: 20px; 
			background: url('../webp/hero5.webp');
			background-size: cover; 
			background-position:center center; 
			.detail {
				position:relative; 
				z-index: 9;
				* {
					color:white; 
				}
				span {
					font-size: 11px; 
				} h3 {
					font-size: 20px; 
				} p {
					font-size: 14px; 
					margin: 20px 0; 
					line-height: 2;
				} a {
					display:inline-block;
					gap: 10px; 
					padding: 3px 6px; 
					background: $red3; 
					color:white; 
					border-radius: 6px;
					font-size: 14px; 
					background: transparent; 
					border: 1px solid white; 
	
				}
			}
		}
	}
}
.ournewsnew {
	display:flex; 
	flex-direction:column; 
	.component {
		display:flex;
		align-items:center; 
		img {
			width: 50px; 
		} h4 {
			font-size: 20px; 
		}
	} h1 {
		font-size: 40px; 
		color:$red3; 
	}

	a.button {
		margin-top: 20px; 
		display:flex; 
		align-items:center; 
		gap: 10px; 
		background: $red3; 
		padding: 3px 10px; 
		color:white; 
		font-size: 16px; 
		border-radius: 5px;
		margin-top: 10px;  
		align-self: center;
		margin-top: 30px; 
		
	}

	.cards {
		.card {
			overflow:hidden;
		}
		margin-top: 20px; 
		display:flex; 
		justify-content: space-between;
		gap: 50px; 
		.img:hover {
			img.cover {
				transform: scale(1.1);
			}
		}
		.img {
			border-radius: 20px 20px 0 0;
			$height: 245px; 
			overflow:hidden; 
			position:relative; 
			height: $height; 
			img.cover {
				filter:brightness(0.7);
			}
			img {
				width: 368px; 
				height: $height; 
				object-fit: cover;
				transition: all 500ms ease 0s;
			} img.newscomp1 {
				width: 100px; 
				display:flex; 
				background:white; 
				padding: 10px; 
				position: absolute;
				width: 100px;
				height: auto;
				bottom: 0;
				z-index: 99;
			} img.newscomp2 {
				width: 150px; 
				display:flex; 
				position: absolute;
				width: 100px;
				height: auto;
			    right: -20px;
    			top: -13px;
				z-index: 99;
			}
		} .content {
			margin-top: 5px; 
			.header-content {
				display:flex; 
				align-items: center;
				gap: 15px; 
				.item {
					display:flex; 
					align-items: center;
					gap:5px;
					svg {
						width: 16px; 
						height: 16px; 
					} span {
						font-size: 14px;
					}
				}
			} h3 {
				// margin: 10px 0; 
				margin-top: 10px; 
				font-size: 22px; 
			} p {
				line-height: 2;
				font-size: 16px; 
			}
		}
	}
}


.clients.section {
	padding-top: 50px; 
	padding-bottom: 50px; 
	padding-left: unset; 
	padding-right: unset; 
	background: $red3; 
	text-align: center;
	.overlay {
		position:absolute; 
		left: 0; 
		top: 0;
		right: 0; 
		bottom: 0; 
		background: url('../webp/component5.webp');
		background-size: cover; 
		background-position: 100px 241px;
    	background-size: 700px;
	}
	h3 {
		position:relative; 
		z-index: 9;
		margin-left: 50px; 
		font-size: 22px; 
		color:white; 
		display:inline-block; 
		padding: 3px 20px; 
		background: $red2;
		border-radius: 30px; 

	}
	.images {
		margin-top: 50px;
		img {
			width: 120px; 
		}
	}
}



@media screen and (max-width: 1520px) {
	.about {
		&-detail {
			gap: 20px; 
			.images {
				img {
					width: 470px;
				}
			}
			.boxs {
				width: 55%;
			}
		}
	}

}

@media screen and (max-width: 1485px) {
	.projects {
		.project-boxs {
			.project-box {
				width: 343px;
				border-radius: 10px;
			}
		}
	}

}



@media screen and (max-width: 1400px) {
	

	.about {
		&-detail {
			.images {
				img {
					width: 450px;
					height: 580px;
				}
			} .boxs {
				.box {
					.iconbox {
						$size: 60px; 
						width: $size;
						@include flexwidth($size);
						svg {
							width: 30px; 
							height: 30px; 
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1350px) {
	.aboutnew {
		.floating-box {
			.right {
				width: 365px;
			}
		}
	}

}

@media screen and (max-width: 1345px) {
	.projects {
		.project-boxs {
			.project-box {
				margin: 10px 0px;
				flex-direction:column;
				img {
					transform: unset; 
					width: 100px; 
					height: 100px; 
					border-radius: 50%; 
				} .project-info {
					margin-top: 10px; 
					text-align:center;
					padding: 10px 10px;
					display:flex;
					flex-direction:column; 
					gap: 10px;  
					justify-content:center;
					align-items:center;
				}
			}
		}
	}
}





@media screen and (max-width: 1245px) {
	.projects {
		.project-boxs {
			.project-box {
				width: 305px;
			}
		}
	}
}

@media screen and (max-width: 1150px) {
	.projects {
		.project-boxs {
			.project-box {
				width: 260px;
			}
		}
	}

	.aboutnew {
		.floating-box {
			gap: 20px; 
		}
	}
}


@media screen and (max-width: 1100px) {
	
	.aboutnew {
		.floating-box {
			width: 95%; 
		}
	}

	.about.section {
		padding: 100px 50px; 
	}
	.media-icons {
		display:none; 
		right: 0;
		margin-right: 50px;
	}
	.swiper-slide {
		.text-content {
			margin: 0 120px 0 50px;
		}
	}
	.bg-slider-thumbs {
		bottom: 18em;
	}
}


@media screen and (max-width: 1000px) {
	$titlefont: 40px;



	.aboutnew {
		.floating-box {
			.right {
				width: 295px; 
				.cards {
					.card {
						gap: 15px; 
						.icon {
							width: 58px; 
							height: 58px; 
							svg {
								width: 30px; 
								height: 30px; 
							}
						}
						h3 {
							font-size: 22px; 
						} a {
							font-size: 14px; 
						}
					}
				}
			}
			.left {
				.component {
					img {
						width: 40px; 
					} h4 {
						font-size: 18px; 
					}
				}
				p {
					font-size: 16px; 
				} h1 {
					font-size: 35px; 
				}
			}
		}
	}


	.about {
		 &-detail {
			gap: 30px; 
			.images {
				img {
				    width: 350px;
					height: 572px;
				}
			}
			.boxs {
				.box {
					width: 100%; 
					h2 {
						font-size: ($titlefont)-10;
					} h5 {
						font-size: 20px; 
					}
				}
			}
		}
	}
}


$p785: 20px; 

@media screen and (max-width: 940px) {
	.projects {
		.project-boxs {
			.project-box {
				width: 90%;
				margin: 10px 0px;
		
			}
		}
	}

}




@media screen and (max-width: 900px) {
	

	.about {
		&-detail {
		   gap: 30px; 
		   .images {
			   img {
				   width: 350px;
				   height: 566px;
			   }
		   }
		   .boxs {
			   .box {
				   width: 100%; 
				   h2 {
					   font-size: 30px;
				   } h5 {
					   font-size: 18px; 
				   } p {
					   font-size: 14px; 
				   } .iconbox {
						$size: 50px; 
						width: $size;
						height: $size; 
						@include flexwidth($size);
						svg {
							width: 20px; 
							height: 20px; 
						}
				   } 
			   }
		   }
	   }
   }

}

@media screen and (max-width: 890px) {

	.aboutnew {
		.floating-box {
		
			gap: 20px; 
			border-radius: 20px; 
			padding: 25px; 
		}
	}

}

@media screen and (max-width: 860px) {
	
	
	.about {
		 &-detail {
			.images {
				img {
					width: 290px;
					height: 561px;
				}
			}
			.boxs {
				.box {
					p {
						font-size: 14px; 
					}
				}
			}
		}
	}
}


@media screen and (max-width: 785px) {
	.projects {
		.project-boxs {
			.project-box {
				margin: 10px 30px;
				width: 80%;
			}
		}
	}

	.aboutnew {
		.floating-box {
			flex-direction:column;
			.right {
				margin-top: 20px; 
				width: unset; 
				.cards {
					width: 100%;
					flex-direction:row;
					justify-content: space-between; 
					.card {
						width: 125px; 
						text-align:center; 
						flex-direction:column; 
						h3 {
							font-size: 18px; 
						} .icon {
							border: 3px solid #C9313A;
						}
					}
				}
			}
		}
	}

	.triangle-line {
		height: 71px;
		width: 100%;
		/* border: 1px solid red; */
		background-image: url(../webp/component2.webp);
		background-size: 127px;
		background-position: 62px 90px;
		margin: 50px 0 0px;
	}

	

	.slogan {
		ul {
			li {
				.title {
					width: 70%; 
				} .icon {
					width: 5rem; 
					svg {
						width: 30px; 
						height: 30px; 
					}
				}
			}
		}
	}
	
	.projects {
		.project-boxs {
			.project-box.item {
				flex-direction: column;
				.project-info {
					padding: 10px; 
				}
			}
		}
	}



	.about.section {
		padding:unset;
	}
	.about {
		padding:unset;

		&-title {
			margin: 0 20px;
		}
		
		&-detail {
			margin-top: 50px;
			flex-direction:column; 
			padding-bottom: 10px;
			.images {
				height: 700px; 
				width: 100%; 
				background-image: url('../webp/hero1.webp');
				background-attachment: fixed;
				background-size: cover;
				img {
					display:none;
				}
			} .boxs {
			    margin: auto;
    			width: 80%;
				height: unset; 
				.box:first-child {
					div {
						margin: auto; 
					}
				}
				// .box:nth-child(1n+2) {
				// 	box-shadow: 0 14px 2px #eee;
				// }

				.box:nth-child(1n+2) {
				
					position:static;
					
				}
				.box {
					border-radius: 20px;
					padding: 20px 0; 
					text-align:center; 
					flex-direction: column;
					
					h2 {
						font-size: 25px; 
					}
					p {
						width: 75%;
						margin:auto; 
						font-size: 16px; 
					} .iconbox {
						border-radius: 50%; 
						margin:auto; 
						$size: 70px; 
						width: $size;
						@include flexwidth($size);
						svg {
							width: 20px; 
							height: 20px; 
						}
					}
				}
			}
		}
	}

	.bg-slider-thumbs {
		z-index: 777;
		position: absolute;
		bottom: 7em;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		left: unset;
		right: unset;
		bottom: 7em;
		left: 50%;
	}

	.thumbs-container {
		flex-direction: row;
		bottom: 0;
	}

	
	.media-icons {
		margin-right: 20px;
		a {
			font-size: 1.5em;
		}
	}
	.swiper-slide {
		.text-content {
			margin: 0 70px 0 20px;
			.texts {
				.title {
					font-size: 3em;	
				}

				span {
					font-size: 13px;
					transform: translate(9px, 38px);
				}
			}
			p {
				font-size: 0.9em;
			}
			.read-btn {
				font-size: 0.9em;
				padding: 5px 15px;
			}
		}
	}
	
	

	.about {
		h2 {
			font-size: 2.5em;
		}
		p {
			font-size: 0.9em;
		}
	}

	
}
@media screen and (max-width: 590px) {
	.aboutnew {
		.floating-box {
			.right {
				.cards {
					.card {
						width: 100px; 
						h3 {
							font-size: 15px; 
						} a {
							font-size: 12px; 
						} .icon {
							width: 48px; 
							height: 48px; 
							border: 2px solid #C9313A;
							svg {
								width: 24px; 
								height: 24px; 
							}
						}
					}
				}
			}
			.left {
				.component {
					h4 {
						font-size: 16px; 
					} img {
						width: 30px; 
					}
				} h1 {
					font-size: 28px; 
				} p {
					font-size: 14px; 
				}
			}
		}
	}

	.swiper-slide {
		.text-content {
			p {
				font-size: 0.8em;
			}
			.title {
				font-size: 2em;
			} .read-btn {
				margin-top: 20px;
			}                  
		}
	}

	.bg-slider-thumbs {
		bottom: 5.5em;
	}

	
	.about {
		&-detail {
			.boxs {
				.box {
					p {
						font-size: 13px; 
					} h5 {
						font-size: 16px; 
					} h2 {
						font-size: 20px; 
					} .iconbox {
						$size: 55px; 
						width: $size; 
						@include flexwidth($size); 
					}
				}
			}
		}
	}

	.swiper-slide {
		.text-content {
			margin: 0 20% 0 5%;
			.texts {
				flex-direction: column;
				span {
					transform:unset;
				}
			}
		}
	}
}


@media screen and (max-width: 550px) {
	.projects {
		.project-boxs {
			.project-box {
				width: 70%;
			}
		}
	}

	.slogan {
		ul {
			li {
				margin:auto;
			}
		}
	}
	.about {
		&-detail {
			.boxs {
				width: 85%; 
			}
		}
	}
}


@media screen and (max-width: 450px) {
	.aboutnew {
		.floating-box {
			width: 100%; 
			padding: 25px 20px;
			border-radius: 15px 15px 0 0;
			.right {
				.cards {
					margin-top: 10px; 
					.card {
						width: 80px; 
						// flex-direction: row; 
						// justify-content: flex-start;
						// align-items: flex-start;
						// text-align: left;
						h3 {
							font-size: 13px; 
						} a {
							font-size: 11px; 
						} .icon {
							width: 40px; 
							height: 40px; 
							border: 2px solid #C9313A;
							svg {
								width: 20px; 
								height: 20px; 
							}
						}
					}
				}
			}
			.left {
				.component {
					h4 {
						font-size: 14px; 
					} img {
						width: 25px; 
					}
				} h1 {
					font-size: 26px; 
				} p {
					font-size: 12px; 
				}
			}
		}
	}

}


@media screen and (max-width: 381px) {
	.about {
		&-detail {
			.boxs {
				.box {
					p {
						width: 100%; 
					}
				}
			}
		}
	}
}